In [1]:
import pandas as pd

In [2]:
order = pd.read_csv("./instacart_dataset/orders.csv")

In [3]:
# 시간별 주문 건수 
order.head(3)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2352815,185282,prior,5,2,9,6
1,1414622,41949,prior,9,0,16,6
2,2534064,24631,prior,66,1,13,4

In [4]:
order.value_counts("order_hour_of_day").sort_index()

order_hour_of_day
0      21
1      12
2       3
3       7
4       2
5       4
6      33
7      95
8     163
9     239
10    277
11    242
12    271
13    291
14    266
15    250
16    254
17    220
18    170
19    135
20    102
21     63
22     54
23     46
Name: count, dtype: int64

In [5]:
order.groupby(['order_hour_of_day'])['order_id'].count()

order_hour_of_day
0      21
1      12
2       3
3       7
4       2
5       4
6      33
7      95
8     163
9     239
10    277
11    242
12    271
13    291
14    266
15    250
16    254
17    220
18    170
19    135
20    102
21     63
22     54
23     46
Name: order_id, dtype: int64

In [6]:
# 첫 구매 후 다음 구매까지 걸린 평균 일수 
order[order.user_id == 185282]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2352815,185282,prior,5,2,9,6

In [7]:
order[order.order_number == 2]['days_since_prior_order'].mean()

13.651785714285714

In [8]:
order_products__prior = pd.read_csv("./instacart_dataset/order_products__prior.csv")

In [9]:
# 주문 건당 평균 구매 상품 수 
order_products__prior.product_id.count() / order_products__prior.order_id.unique().size

10.046670815183571

In [10]:
order_products__prior

       order_id  product_id  add_to_cart_order  reordered
0          2581       40174                  1          0
1          2581       17461                  2          0
2          2581       19731                  3          1
3          5880       24838                  1          1
4          5880       24852                  2          1
...         ...         ...                ...        ...
32285   3420098       46676                  9          0
32286   3420098        5240                 10          0
32287   3420098       23375                 11          0
32288   3420098       42342                 12          0
32289   3420098       17706                 13          1

[32290 rows x 4 columns]

In [15]:
# 상품별 재구매율 계산, 1~10, 상품명
order_products__prior.groupby(['product_id'])['reordered'].sum() /order_products__prior.groupby(['product_id'])['reordered'].count()

product_id
1        0.333333
10       0.500000
11       0.000000
23       1.000000
25       1.000000
           ...
49677    1.000000
49678    1.000000
49680    1.000000
49682    1.000000
49683    0.703297
Name: reordered, Length: 9288, dtype: float64

In [12]:
product = pd.read_csv("./instacart_dataset/products.csv")

In [13]:
pd.concat([order_products__prior.groupby(['product_id'])['reordered'].sum() /
    order_products__prior.groupby(['product_id'])['reordered'].count(), 
    product.set_index("product_id")['product_name'] ] , axis=1).sort_values(by=['reordered'], ascending=False)

            reordered                                       product_name
product_id
47                1.0         Onion Flavor Organic Roasted Seaweed Snack
40                1.0  Beef Hot Links Beef Smoked Sausage With Chile ...
49682             1.0                                 California Limeade
49680             1.0                 All Natural Creamy Caesar Dressing
49678             1.0                    Large Chicken & Cheese Taquitos
...               ...                                                ...
9473              0.0               Cabernet Sauvignon, California, 2011
9497              0.0  Smoothie Fruits Squished The Purple One Over 6...
9511              0.0              Small Breed Grain-Free Adult Dog Food
9537              0.0                                            Arugula
9587              0.0           Organic Shiitake & Vegetable Potstickers

[9288 rows x 2 columns]