In [1]:
import pandas as pd

In [3]:
order = pd.read_csv("./instacart_dataset/orders.csv")

In [4]:
#시간별 주문건수
order.head(3)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2352815,185282,prior,5,2,9,6
1,1414622,41949,prior,9,0,16,6
2,2534064,24631,prior,66,1,13,4

In [9]:
order.value_counts("order_hour_of_day").sort_index()

order_hour_of_day
0      21
1      12
2       3
3       7
4       2
5       4
6      33
7      95
8     163
9     239
10    277
11    242
12    271
13    291
14    266
15    250
16    254
17    220
18    170
19    135
20    102
21     63
22     54
23     46
Name: count, dtype: int64

In [7]:
order.groupby(["order_hour_of_day"])["order_id"].count()

order_hour_of_day
0      21
1      12
2       3
3       7
4       2
5       4
6      33
7      95
8     163
9     239
10    277
11    242
12    271
13    291
14    266
15    250
16    254
17    220
18    170
19    135
20    102
21     63
22     54
23     46
Name: order_id, dtype: int64

In [12]:
#이 유저의 5번째 주문이고 주문간격은 6일이다
order[order.user_id==185282]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2352815,185282,prior,5,2,9,6

In [19]:
order[order.order_number==2].days_since_prior_order.mean()

13.651785714285714

In [24]:
order_proeducts__prior=pd.read_csv("./instacart_dataset/order_products__prior.csv")

In [28]:
# 주문 건당 평균 구매 상품 수 
order_proeducts__prior.product_id.count() / order_proeducts__prior.order_id.unique().size

10.046670815183571

In [33]:
order_proeducts__prior.head(3)

   order_id  product_id  add_to_cart_order  reordered
0      2581       40174                  1          0
1      2581       17461                  2          0
2      2581       19731                  3          1

In [67]:
order_proeducts__prior.groupby(["product_id"])["reordered"].count()

product_id
1         3
10        2
11        1
23        1
25        1
         ..
49677     1
49678     1
49680     1
49682     1
49683    91
Name: reordered, Length: 9288, dtype: int64

In [68]:
order_proeducts__prior.groupby(["product_id"])["reordered"].sum()

product_id
1         1
10        1
11        0
23        1
25        1
         ..
49677     1
49678     1
49680     1
49682     1
49683    64
Name: reordered, Length: 9288, dtype: int64

In [55]:
# order_proeducts__prior.reordered.level
# 상품별 재구매율 계산,1~10위 상품명
temp = (order_proeducts__prior.groupby(["product_id"])["reordered"].sum() / order_proeducts__prior.groupby(["product_id"])["reordered"].count()).reset_index()

In [75]:
temp[temp.reordered==1]

      product_id  reordered
3             23        1.0
4             25        1.0
5             29        1.0
6             32        1.0
9             37        1.0
...          ...        ...
9277       49638        1.0
9283       49677        1.0
9284       49678        1.0
9285       49680        1.0
9286       49682        1.0

[3161 rows x 2 columns]

In [60]:
top10 = temp.sort_values(["reordered"],ascending=False)[:10]

In [61]:
products=pd.read_csv("./instacart_dataset/products.csv")

In [70]:
products.set_index("product_id")["product_name"]

product_id
1                            Chocolate Sandwich Cookies
10       Sparkling Orange Juice & Prickly Pear Beverage
11                                    Peach Mango Juice
23                               Organic Turkey Burgers
25              Salted Caramel Lean Protein & Fiber Bar
                              ...
49677                   Thick & Chunky Sloppy Joe Sauce
49678                   Large Chicken & Cheese Taquitos
49680                All Natural Creamy Caesar Dressing
49682                                California Limeade
49683                                    Cucumber Kirby
Name: product_name, Length: 9288, dtype: object

In [73]:
# pd.concat([order_proeducts__prior.groupby(["product_id"])["reordered"].sum() / order_proeducts__prior.groupby(["product_id"])["reordered"].count()],[products.set_index("product_id")["product_name"]])

In [76]:
pd.merge(left = top10 , right = products, how = "inner", on = "product_id")

,product_id,reordered,product_name,aisle_id,department_id
0,47,1.0,Onion Flavor Organic Roasted Seaweed Snack,66,6
1,40,1.0,Beef Hot Links Beef Smoked Sausage With Chile ...,106,12
2,49682,1.0,California Limeade,98,7
3,49680,1.0,All Natural Creamy Caesar Dressing,89,13
4,49678,1.0,Large Chicken & Cheese Taquitos,129,1
5,23,1.0,Organic Turkey Burgers,49,12
6,49451,1.0,Artichoke Spinach Dip,67,20
7,37,1.0,Noodle Soup Mix With Chicken Broth,69,15
8,49488,1.0,Jasmine Green Iced Tea,66,6
9,49426,1.0,Hommus Balsamic Caramelized Onion,67,20

In [66]:
order_proeducts__prior.shape[0]

32290

In [65]:
order_proeducts__prior.groupby(["product_id"])["reordered"].sum() / order_proeducts__prior.shape[0]

product_id
1        0.000031
10       0.000031
11       0.000000
23       0.000031
25       0.000031
           ...
49677    0.000031
49678    0.000031
49680    0.000031
49682    0.000031
49683    0.001982
Name: reordered, Length: 9288, dtype: float64

In [ ]:
# SELECT order_hour_of_day,
# COUNT(DISTINCT order_id) result
# FROM orders_1
# GROUP BY 1
# ORDER BY 1

In [ ]:
# SELECT AVG(days_since_prior_order)
# FROM orders_1
# WHERE order_number=2

In [ ]:
# SELECT COUNT(product_id)/COUNT(DISTINCT order_id)
# FROM order_products__prior

In [ ]:
# #DHCP
# SELECT B.product_id, temp , product_name FROM (SELECT *  FROM (SELECT product_id, SUM(reordered), COUNT(reordered),  SUM(reordered)/COUNT(reordered) AS temp
# FROM order_products__prior
# GROUP BY 1
# ORDER BY temp DESC) A LIMIT 10) B
# LEFT JOIN
# products_1 C
# ON B.product_id=C.product_id

In [ ]:
# SELECT A.product_id, B.product_name, A.result
# FROM 
# (SELECT product_id , result
# FROM order_products__prior
# GROUP BY 1) A
# LEFT JOIN products_1 B
# ON A.product_id=B.product_id
# ORDER BY 3 DESC