In [34]:
pip install pyOpenSSL

Requirement already satisfied: pyOpenSSL in /home/encore/miniconda3/lib/python3.10/site-packages (24.0.0)
Requirement already satisfied: cryptography<43,>=41.0.5 in /home/encore/miniconda3/lib/python3.10/site-packages (from pyOpenSSL) (42.0.2)
Requirement already satisfied: cffi>=1.12 in /home/encore/miniconda3/lib/python3.10/site-packages (from cryptography<43,>=41.0.5->pyOpenSSL) (1.16.0)
Requirement already satisfied: pycparser in /home/encore/miniconda3/lib/python3.10/site-packages (from cffi>=1.12->cryptography<43,>=41.0.5->pyOpenSSL) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import requests
from bs4 import BeautifulSoup as bs
from datetime import datetime
import pandas as pd
# tm="2022.01.01 00:00"
start_date="20230101"
url = ""
#2022.01.01 00:00 ~ 2023.12.31 23:59:59
res = requests.get(url)
temp=res.json()
# res.json()

In [39]:
# temp

In [22]:
from datetime import datetime, timedelta

start_date = "20230101"
end_date = "20231231"

# 시작 날짜와 끝 날짜를 datetime 객체로 변환
start_datetime = datetime.strptime(start_date, "%Y%m%d")
end_datetime = datetime.strptime(end_date, "%Y%m%d")

# 시작 날짜부터 끝 날짜까지의 모든 날짜를 리스트로 만들기
date_list = []
current_datetime = start_datetime
while current_datetime <= end_datetime:
    date_list.append(current_datetime.strftime("%Y%m%d"))
    current_datetime += timedelta(days=1)

In [31]:
# date_list

In [32]:
# temp

In [33]:
# temp["response"]["body"]["items"]["item"] #len가 24개

In [26]:
import pandas as pd
from tqdm import tqdm

In [34]:
# date_list[177]

In [28]:
all_df = pd.DataFrame()

In [29]:

# for i in tqdm(range(len(date_list))):
#     start_date=date_list[i]
#     url = ""
#     print(url)

In [30]:
for i in tqdm(range(len(date_list))):
    start_date=date_list[i]
    url = ""
        res = requests.get(url)
        temp = res.json()
        df = pd.DataFrame(temp["response"]["body"]["items"]["item"])
        all_df = pd.concat([all_df,df])
    except:
        print(i)

100%|██████████| 365/365 [05:57<00:00,  1.02it/s]

In [36]:
# all_df 
# 2023-01-01 01:00 ~ 2023-12-31 01:00

2023-01-01 00:00
2023-12-31 02:00 ~ 2023-12-31 23:00 필요

In [125]:
add_start_date="20230101"
add_url = ""
add_res = requests.get(add_url)
add_temp=add_res.json()
# res.json()

In [86]:
all_df.shape #추가하기전 data

(8737, 38)

In [127]:
import csv
import pandas as pd
all_df = pd.read_csv('2023.csv')

In [128]:
add_temp["response"]["body"]["items"]["item"]
add_temp_df = pd.DataFrame(add_temp["response"]["body"]["items"]["item"])
add_all_df = pd.DataFrame()

In [129]:
add_all_df = pd.concat([all_df,add_temp_df])

In [99]:
add_all_df.shape

(8738, 38)

In [77]:
# add_all_df[add_all_df.tm=="2023-01-01 01:00"]

In [130]:
# 중복된 tm값 제거
print(add_all_df[add_all_df.duplicated(subset=['tm'], keep=False)]["tm"])

0     2023-01-01 00:00
1     2023-01-01 01:00
2     2023-01-01 02:00
3     2023-01-01 03:00
4     2023-01-01 04:00
5     2023-01-01 05:00
6     2023-01-01 06:00
7     2023-01-01 07:00
8     2023-01-01 08:00
9     2023-01-01 09:00
10    2023-01-01 10:00
11    2023-01-01 11:00
12    2023-01-01 12:00
13    2023-01-01 13:00
14    2023-01-01 14:00
15    2023-01-01 15:00
16    2023-01-01 16:00
17    2023-01-01 17:00
18    2023-01-01 18:00
19    2023-01-01 19:00
20    2023-01-01 20:00
21    2023-01-01 21:00
22    2023-01-01 22:00
23    2023-01-01 23:00
0     2023-01-01 00:00
1     2023-01-01 01:00
2     2023-01-01 02:00
3     2023-01-01 03:00
4     2023-01-01 04:00
5     2023-01-01 05:00
6     2023-01-01 06:00
7     2023-01-01 07:00
8     2023-01-01 08:00
9     2023-01-01 09:00
10    2023-01-01 10:00
11    2023-01-01 11:00
12    2023-01-01 12:00
13    2023-01-01 13:00
14    2023-01-01 14:00
15    2023-01-01 15:00
16    2023-01-01 16:00
17    2023-01-01 17:00
18    2023-01-01 18:00
19    2023-01-01 19:00
20    2023-01-01 20:00
21    2023-01-01 21:00
22    2023-01-01 22:00
23    2023-01-01 23:00
Name: tm, dtype: object

In [90]:
add_all_df.drop_duplicates(subset=['tm'], keep='first', inplace=True)

In [91]:
add_all_df[add_all_df["tm"]=="2023-01-01 01:00"]

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,lcsCh,vs,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te
0,2023-01-01 01:00,1,108,서울,1.5,,,,1.9,,...,12,1104,,,-1.4,,-0.3,-0.5,-0.5,0.6

In [92]:
add_all_df.shape

(8738, 38)

In [106]:
# 2023-12-31 02:00 ~ 2023-12-31 23:00 필요
add_start_date1="20231231"
add_url1 = ""
add_res1 = requests.get(add_url1)
add_temp1=add_res1.json()
# res.json()

In [107]:
add_temp1["response"]["body"]["items"]["item"]
add_temp_df1 = pd.DataFrame(add_temp1["response"]["body"]["items"]["item"])
add_all_df1 = pd.DataFrame()

In [108]:
add_all_df1 = pd.concat([add_all_df,add_temp_df1])

In [109]:
add_all_df1.shape

(8761, 38)

In [110]:
add_all_df1.drop_duplicates(subset=['tm'], keep='first', inplace=True)

In [111]:
add_all_df1.shape

(8761, 38)

In [113]:
# add_all_df1

In [121]:
df_sorted = add_all_df1.sort_values(by='tm')

In [122]:
df_sorted.to_csv('2023.csv', index=False, encoding='utf-8-sig')