In [7]:
import requests
from bs4 import BeautifulSoup as bs
from datetime import datetime
import pandas as pd
from datetime import datetime, timedelta
import pandas as pd
from tqdm import tqdm


start_date="20240101"

# res = requests.get(url)
# temp=res.json()
# res.json()

In [4]:
start_date = "20240101"
end_date = "20240523"
# 시작 날짜와 끝 날짜를 datetime 객체로 변환
start_datetime = datetime.strptime(start_date, "%Y%m%d")
end_datetime = datetime.strptime(end_date, "%Y%m%d")
# 시작 날짜부터 끝 날짜까지의 모든 날짜를 리스트로 만들기
date_list = []
current_datetime = start_datetime
while current_datetime <= end_datetime:
    date_list.append(current_datetime.strftime("%Y%m%d"))
    current_datetime += timedelta(days=1)

In [6]:
# date_list

In [32]:
# temp

In [33]:
# temp["response"]["body"]["items"]["item"] #len가 24개

In [16]:
all_df = pd.DataFrame()

In [17]:
for i in tqdm(range(len(date_list))):
    start_date=date_list[i]
    url = ""
    try:
        res = requests.get(url)
        temp = res.json()
        df = pd.DataFrame(temp["response"]["body"]["items"]["item"])
        all_df = pd.concat([all_df,df])
    except:
        print(i)

 22%|██▏       | 31/144 [00:38<09:16,  4.93s/it]

30

100%|██████████| 144/144 [01:38<00:00,  1.46it/s]

In [18]:
all_df.shape

(3432, 38)

2024-01-31 데이터가 빠졌으므로 넣자

In [19]:
date_list[30]

'20240131'

In [20]:
start_date="20240131"
url =""
#2022.01.01 00:00 ~ 2023.12.31 23:59:59
res = requests.get(url)
temp=res.json()

In [24]:
len(temp["response"]["body"]["items"]["item"])
add_temp_df = pd.DataFrame(temp["response"]["body"]["items"]["item"])

In [25]:
add_all_df = pd.concat([all_df,add_temp_df])

In [26]:
add_all_df.shape

(3456, 38)

In [27]:
add_all_df.to_csv('2024.csv', index=False, encoding='utf-8-sig')

In [29]:
test =pd.read_csv('2024.csv')

In [34]:
test[test["tm"]=="2024-05-05 12:00"]

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,lcsCh,vs,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te
2988,2024-05-05 12:00,13,108,서울,18.3,NaN,4.5,NaN,2.5,NaN,...,3.0,403,NaN,1901.0,19.9,NaN,19.1,19.2,19.1,19.1