In [2]:
# 'ip:port/encore', 'id/pw'

In [4]:
import pymysql
import pandas as pd
con =pymysql.connect(host='ip', user='id', password='pwd', db='encore', charset='utf8')
cur = con.cursor()

store_df = pd.read_sql_query("select * from store", con=con)

OperationalError: (2003, "Can't connect to MySQL server on 'ip' ([Errno -2] Name or service not known)")

In [ ]:
pd.set_option('display.max_columns', 100)

In [ ]:
store_df

In [5]:
import requests 
r = requests.get("http://apis.data.go.kr/B552584/EvCharger/getChargerInfo?serviceKey=34lIyWAciAsJlGtIZ4ltpLy2sLZDR%2BBRWvAv8RgoADNEd%2BKCgHe84XiSRUwL8JMMIubzsFW3ddjcNlhZHhvJIQ%3D%3D&pageNo=1&numOfRows=10&zcode=11")
import xml.etree.ElementTree as ET
root  = ET.fromstring(r.text) #xml문자열을 파싱하여 객체생성 xml트리로 변

In [6]:
root

In [7]:
items = root.iter('item') #태그이름이 item인 모든요소반

In [9]:
items

In [10]:
for element in items:
    break

In [11]:
for y in element:
    print(y.tag, y.text)

statNm 천호유수지 공영주차장
statId ME174004
chgerId 01
chgerType 06
addr 서울특별시 강동구 선사로 70
location null
lat 37.54496550
lng 127.12263890
useTime 24시간 이용가능
busiId ME
bnm 환경부
busiNm 환경부
busiCall 1661-9408
stat 2
statUpdDt 20240413154156
lastTsdt 20240413153139
lastTedt 20240413154154
nowTsdt None
powerType None
output 50
method 단독
zcode 11
zscode 11740
kind B0
kindDetail B001
parkingFree Y
note None
limitYn N
limitDetail None
delYn N
delDetail None
trafficYn N

In [12]:
pd.DataFrame([{y.tag : y.text for y in element}])

,statNm,statId,chgerId,chgerType,addr,location,lat,lng,useTime,busiId,...,zscode,kind,kindDetail,parkingFree,note,limitYn,limitDetail,delYn,delDetail,trafficYn
0,천호유수지 공영주차장,ME174004,01,06,서울특별시 강동구 선사로 70,null,37.54496550,127.12263890,24시간 이용가능,ME,...,11740,B0,B001,Y,None,N,None,N,None,N

In [13]:
items = root.iter('item')
df1 = pd.DataFrame([{y.tag : y.text for y in element} for element in items])

In [14]:
items = root.iter('item')
total = []
for element in items:
    tmp = {} 
    for y in element:
        tmp[y.tag] = y.text
    total.append(tmp)
df2 = pd.DataFrame(total)

In [15]:
1+2

3