In [3]:
import pyspark
from pyspark.sql import SparkSession

conf = pyspark.SparkConf().setAppName("mort1").\
        setMaster("spark://client:7077").\
        set("spark.executor.instances", "1") .\
        set("spark.executor.cores", "1").\
        set("spark.cores.max", "1").\
        set("spark.driver.cores", "1") 
spark = SparkSession.builder.config(conf=conf).getOrCreate()

24/06/25 07:15:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/06/25 07:15:41 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
spark

In [2]:
spark.stop()

In [5]:
spark_df = spark.read.csv("hdfs:///encore/tpss_bcycl_od_statnhm_202001.csv", 
               encoding='cp949', header=True)

In [7]:
spark_df.head(10)

[Row(기준_날짜='20200101', 구분코드='0', 기준_시간='0000', 시작_대여소ID='ST-443', 시작_대여소명='성산2동_041_2', 종료_대여소ID='ST-82', 종료_대여소명='성산2동_041_3', 전체건수='1', 전체이용시간(분)='2', 전체이용거리(m)='450'),
 Row(기준_날짜='20200101', 구분코드='0', 기준_시간='0000', 시작_대여소ID='ST-56', 시작_대여소명='여의동_005_10', 종료_대여소ID='ST-1321', 종료_대여소명='영등포동_036_1', 전체건수='1', 전체이용시간(분)='10', 전체이용거리(m)='1460'),
 Row(기준_날짜='20200101', 구분코드='0', 기준_시간='0000', 시작_대여소ID='ST-1546', 시작_대여소명='조원동_004_1', 종료_대여소ID='ST-703', 종료_대여소명='신사동_023_1', 전체건수='1', 전체이용시간(분)='5', 전체이용거리(m)='700'),
 Row(기준_날짜='20200101', 구분코드='1', 기준_시간='0000', 시작_대여소ID='ST-1701', 시작_대여소명='당산2동_065_1', 종료_대여소ID='ST-1701', 종료_대여소명='당산2동_065_1', 전체건수='1', 전체이용시간(분)='28', 전체이용거리(m)='70670'),
 Row(기준_날짜='20200101', 구분코드='1', 기준_시간='0000', 시작_대여소ID='ST-1390', 시작_대여소명='수유2동_030_1', 종료_대여소ID='ST-1101', 종료_대여소명='미아동_010_1', 전체건수='1', 전체이용시간(분)='14', 전체이용거리(m)='59030'),
 Row(기준_날짜='20200101', 구분코드='1', 기준_시간='0000', 시작_대여소ID='ST-1128', 시작_대여소명='하계1동_008_1', 종료_대여소ID='ST-1473', 종료_대여소명='중계본동_032_1', 전체건수='1', 전체이용시간(분)='11', 전체이용거리(m)='1170'),
 Row(기준_날짜='20200101', 구분코드='0', 기준_시간='0000', 시작_대여소ID='ST-26', 시작_대여소명='대흥동_015_1', 종료_대여소ID='ST-202', 종료_대여소명='공덕동_076_1', 전체건수='1', 전체이용시간(분)='11', 전체이용거리(m)='1670'),
 Row(기준_날짜='20200101', 구분코드='1', 기준_시간='0000', 시작_대여소ID='ST-118', 시작_대여소명='사직동_004_1', 종료_대여소ID='ST-978', 종료_대여소명='청운효자동_023_1', 전체건수='1', 전체이용시간(분)='98', 전체이용거리(m)='1160'),
 Row(기준_날짜='20200101', 구분코드='1', 기준_시간='0000', 시작_대여소ID='ST-517', 시작_대여소명='염창동_009_1', 종료_대여소ID='ST-1509', 종료_대여소명='가양3동_015_1', 전체건수='1', 전체이용시간(분)='4', 전체이용거리(m)='1180'),
 Row(기준_날짜='20200101', 구분코드='1', 기준_시간='0000', 시작_대여소ID='ST-31', 시작_대여소명='대흥동_005_2', 종료_대여소ID='ST-207', 종료_대여소명='대흥동_016_1', 전체건수='1', 전체이용시간(분)='3', 전체이용거리(m)='390')]