In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#데이터읽기
customers = pd.read_csv('./dacon_data/open/customers.csv')
locations = pd.read_csv('./dacon_data/open/locations.csv')
orders = pd.read_csv('./dacon_data/open/orders.csv')
order_items = pd.read_csv('./dacon_data/open/order_items.csv')
payments = pd.read_csv('./dacon_data/open/payments.csv')
products = pd.read_csv('./dacon_data/open/products.csv')
reviews = pd.read_csv('./dacon_data/open/reviews.csv')
sellers = pd.read_csv('./dacon_data/open/sellers.csv')

        Seller_id  Seller_zipcode_prefix        Seller_city Seller_state
0     SELLER_0000                  13023           campinas           SP
1     SELLER_0001                  13844         mogi guacu           SP
2     SELLER_0002                  12914  braganca paulista           SP
3     SELLER_0003                  20920     rio de janeiro           RJ
4     SELLER_0004                  55325             brejao           PE
...           ...                    ...                ...          ...
2758  SELLER_2758                  87111            sarandi           PR
2759  SELLER_2759                  88137            palhoca           SC
2760  SELLER_2760                   4650          sao paulo           SP
2761  SELLER_2761                  96080            pelotas           RS
2762  SELLER_2762                  12051            taubate           SP

[2763 rows x 4 columns]

In [5]:
temp = pd.merge(reviews,order_items, how='inner',on='Order_id')
temp = pd.merge(temp,orders, how='inner',on='Order_id')
temp = pd.merge(temp,payments, how='inner',on='Order_id')
temp = pd.merge(temp,products, how='inner',on='Product_id')
temp = pd.merge(temp,customers, how='inner',on='Customer_id')
temp = pd.merge(temp,sellers, how='inner',on='Seller_id')

In [28]:
temp_seller = temp.groupby(["Seller_id"])["Order_id"].count().reset_index()

In [34]:
# temp_seller
temp_seller = temp_seller.rename(columns={'Order_id':'Seller_count'})
# temp_seller

In [71]:
# temp_seller.sort_values(["Seller_count"],ascending=False)

In [35]:
temp = pd.merge(temp, temp_seller, on="Seller_id", how = 'inner')

In [38]:
temp.columns

Index(['Review_id', 'Order_id', 'Review_score', 'Review_creation_date',
       'Review_answer_timestamp', 'Order_item_id', 'Product_id', 'Seller_id',
       'Price', 'Freight_value', 'Customer_id', 'Order_status',
       'Order_purchase_timestamp', 'Order_delivered_carrier_date',
       'Order_delivered_customer_date', 'Order_estimated_delivery_date',
       'Payment_sequential', 'Payment_type', 'Payment_installments',
       'Payment_value', 'Product_category_name', 'Product_weight_g',
       'Product_length_cm', 'Product_height_cm', 'Product_width_cm',
       'Customer_unique_id', 'Customer_zipcode_prefix', 'Customer_city',
       'Customer_state', 'Seller_zipcode_prefix', 'Seller_city',
       'Seller_state', 'Seller_count'],
      dtype='object')

In [78]:
temp_seller_group = temp.groupby(["Seller_id"])[["Review_score","Price","Freight_value","Payment_installments","Payment_value"]].median().reset_index()

In [79]:
all_paymet_value=temp_seller_group.Payment_value.sum()

In [59]:
# temp_seller_group

In [80]:
temp_seller_group["ratio"] = temp_seller_group["Payment_value"].apply(lambda x : x/all_paymet_value)

In [81]:
temp_seller_group = pd.merge(temp_seller_group_sorted,temp_seller, how='inner',on='Seller_id')

In [82]:
temp_seller_group.head(1)

,Seller_id,Review_score,Price,Freight_value,Payment_installments,Payment_value,ratio,Seller_count_x,Seller_count_y,Seller_count
0,SELLER_2194,3.817055,100.572469,17.417035,3.907288,142.549187,0.000227,2017,2017,2017

In [83]:
temp_seller_group_sorted= temp_seller_group.sort_values(["Seller_count_x"],ascending=False)

In [84]:
temp_seller_group_sorted.head(20)

,Seller_id,Review_score,Price,Freight_value,Payment_installments,Payment_value,ratio,Seller_count_x,Seller_count_y,Seller_count
0,SELLER_2194,3.817055,100.572469,17.417035,3.907288,142.549187,0.000227,2017,2017,2017
1,SELLER_0417,3.982981,55.312909,17.867880,2.559567,145.196034,0.000231,1939,1939,1939
2,SELLER_0713,3.962860,59.839141,13.704440,2.534368,83.388725,0.000133,1804,1804,1804
3,SELLER_1275,4.123188,58.411605,14.434833,2.682274,76.324666,0.000121,1794,1794,1794
4,SELLER_1678,4.078947,104.130160,16.082368,3.503851,169.068659,0.000269,1558,1558,1558
5,SELLER_0340,4.070563,88.134462,16.546301,2.429081,156.511240,0.000249,1403,1403,1403
6,SELLER_1059,3.394376,136.151983,37.072300,3.873107,349.632004,0.000556,1387,1387,1387
7,SELLER_2423,3.834131,93.877217,22.886922,3.342903,205.005351,0.000326,1254,1254,1254
8,SELLER_1974,4.255034,121.595067,17.688389,2.982383,136.545554,0.000217,1192,1192,1192
9,SELLER_0881,3.962899,30.707006,14.553650,2.180328,49.698248,0.000079,1159,1159,1159
10,SELLER_2099,4.144493,82.214185,19.082018,2.602643,108.438749,0.000173,1135,1135,1135
11,SELLER_2330,4.097170,203.781358,17.272396,4.069811,224.924274,0.000358,1060,1060,1060
12,SELLER_0290,4.022931,16.944447,13.889960,1.199402,37.856640,0.000060,1003,1003,1003
13,SELLER_1886,3.843750,76.913403,17.144271,3.391204,121.156377,0.000193,864,864,864
14,SELLER_1696,4.275132,145.425397,17.698373,3.740741,174.004034,0.000277,756,756,756
15,SELLER_2445,4.184388,132.821440,41.264872,3.174966,192.040969,0.000306,743,743,743
16,SELLER_2541,4.261364,70.202557,17.268409,2.197443,102.613849,0.000163,704,704,704
17,SELLER_0567,4.191843,59.470725,13.298852,1.842900,88.979094,0.000142,662,662,662
18,SELLER_1134,3.624806,33.662419,14.791798,2.455814,91.905597,0.000146,645,645,645
19,SELLER_0556,3.944816,64.787358,16.457709,3.204013,111.942860,0.000178,598,598,598

In [85]:
temp_seller_group_sorted.corr(numeric_only=True).style.background_gradient(cmap='coolwarm', axis=None)

In [86]:
#신용카는쓰는애들만
payments_credit = temp[temp.Payment_type=="credit_card"]

In [87]:
payments.head(1)

,Order_id,Payment_sequential,Payment_type,Payment_installments,Payment_value
0,ORDER_66617,1,credit_card,8,99.33

In [88]:
payments_credit.columns

Index(['Review_id', 'Order_id', 'Review_score', 'Review_creation_date',
       'Review_answer_timestamp', 'Order_item_id', 'Product_id', 'Seller_id',
       'Price', 'Freight_value', 'Customer_id', 'Order_status',
       'Order_purchase_timestamp', 'Order_delivered_carrier_date',
       'Order_delivered_customer_date', 'Order_estimated_delivery_date',
       'Payment_sequential', 'Payment_type', 'Payment_installments',
       'Payment_value', 'Product_category_name', 'Product_weight_g',
       'Product_length_cm', 'Product_height_cm', 'Product_width_cm',
       'Customer_unique_id', 'Customer_zipcode_prefix', 'Customer_city',
       'Customer_state', 'Seller_zipcode_prefix', 'Seller_city',
       'Seller_state', 'Seller_count'],
      dtype='object')

In [11]:
payments_credit.corr(numeric_only=True).style.background_gradient(cmap='coolwarm', axis=None)
# 가격이 비쌀수록 할부를 한다 고객이 부담이 된다는걸 의미

In [14]:
payments.Payment_installments.unique() #2년까지

array([ 8,  1,  2,  3,  6,  5,  4, 10,  7, 12,  9, 13, 15, 24, 11, 18, 14,
       21, 17, 22, 20,  0, 16, 23])

In [ ]:
payments_credit.groupby