In [ ]:
import pymysql
import pandas as pd
con =pymysql.connect(host='localhost', user='id', password='pw', db='classicmodels', charset='utf8')
cur = con.cursor()

In [ ]:
sql = """
SELECT SUBSTR(A.orderDate, 1,7) AS MM, SUM(B.priceEach * B.quantityOrdered) AS SALES
FROM orders A
LEFT JOIN orderdetails B
ON A.orderNumber = B.orderNumber
GROUP BY 1
ORDER BY 1;"""

In [ ]:
pd.read_sql_query(sql, con=con)

In [ ]:
order = pd.read_sql_query("select * from orders", con=con)
orderdetails = pd.read_sql_query("select * from orderdetails", con=con)
customers = pd.read_sql_query("select * from customers", con=con)

In [ ]:
display(order.head(1))
display(orderdetails.head(1))

In [ ]:
df = pd.merge(pd.merge(order, orderdetails, on='orderNumber', how='left'), customers, on="customerNumber", how='left')

In [ ]:
# SUM(B.priceEach * B.quantityOrdered) AS sales
df['tmp'] = df['priceEach'] * df['quantityOrdered']

In [ ]:
df2 = df.groupby(['country', 'city'],as_index=False)[['tmp']].sum().sort_values(by=['country', \
                                        'city']).rename(columns={'tmp' : 'sales'})

In [ ]:
df2['sales']

In [ ]:
tmp = pd.DataFrame({'a' : [55,45,66,22,45,88,99,99,100]})

In [ ]:
df2['rank'] = df2['sales'].rank(method="min", ascending=False)

In [ ]:
tmp['rank'] = tmp['a'].rank(method='dense', ascending=False)

In [ ]:
tmp

In [ ]:
df2.sort_values(by=['sales'], ascending=False)

In [ ]:
data = pd.read_csv("./data/dataset2.csv", delimiter=";")

In [ ]:
data.shape

In [ ]:
display(data.head(1))
print(data.columns)

In [ ]:
sql = """CREATE Table dataset2
(
    `Clothing ID` INT,
    `Age` INT, 
    `Title` VARCHAR(30),
    `Review Text` TEXT,
    `Rating` INT, 
    `Recommended IND` INT, 
    `Positive Feedback Count` INT,
    `Division Name` VARCHAR(30), 
    `Department Name` VARCHAR(30), 
    `Class Name` VARCHAR(30)
)"""
cur.execute(sql)
con.commit()

In [ ]:
def tmp(x):
    global var_x 
    var_x = x
    cur.execute("INSERT  INTO dataset2 VALUES (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s)", x.tolist())
    return 0

In [ ]:
data.head(1)

In [ ]:
data=  data.where(pd.notnull(data), None)

In [ ]:
data.head(1)

In [ ]:
data.apply(tmp, axis=1)

In [ ]:
con.commit()