In [1]:
import pickle
import pandas as pd

In [25]:
with open("./seven_stores.pkl", "rb") as f:
    seven_df = pickle.load(f)

In [6]:
with open("./sevenEleven.pkl", "rb") as f:
    seven_df2 = pickle.load(f)

In [16]:
tmp = set()
seven_df.able_services.apply(lambda x : [tmp.add(y) for y in x])

0                                 [None, None, None, None]
1                                             [None, None]
2                     [None, None, None, None, None, None]
3                                             [None, None]
4                                       [None, None, None]
                               ...
12867                                         [None, None]
12868                                         [None, None]
12869    [None, None, None, None, None, None, None, Non...
12870                                         [None, None]
12871                                         [None, None]
Name: able_services, Length: 12872, dtype: object

In [18]:
tmp.__len__()

15

In [26]:
seven_df.head(1)

     name          address              able_services
0  강릉5주공점  강원도 강릉시 월대산로 43  [의약품, 무인택배접수, 페덱스서비스, 시디]

In [29]:
# hardcoding 
#'24시간'

In [27]:
for service in tmp:
    seven_df[service] = seven_df.able_services.apply(lambda x : 1 if service in x else 0)

In [32]:
seven_df.ATM.sum()

2626

In [36]:
seven_df.의약품.value_counts(normalize=True)

의약품
0    0.612492
1    0.387508
Name: proportion, dtype: float64

In [23]:
tmp
seven_df.able_services.apply(lambda x : 1 if '24시간' in x else 0)

0        0
1        0
2        1
3        0
4        0
        ..
12867    0
12868    0
12869    1
12870    0
12871    0
Name: able_services, Length: 12872, dtype: int64

In [39]:
seven_df.drop(['able_services'], axis=1, inplace=True)

In [46]:
seven_df.shape

(12872, 17)

In [45]:
seven_df.drop_duplicates().shape

(12417, 17)

In [47]:
seven_df[~seven_df.name.duplicated()].shape

(12417, 17)

In [48]:
#seven_df = seven_df[~seven_df.name.duplicated()].copy()

In [50]:
seven_df.drop_duplicates(inplace=True)

In [51]:
seven_df.shape

(12417, 17)

In [54]:
seven_df['address'].apply(lambda x : x.split()[0]).unique()

array(['강원도', '강원특별자치도', '강원', '경기도', '경기', '경기도김포시하성면하성로297',
       '경기도시흥시복지로', '경기도이천시부발읍', '경상남도', '경남', '경남창원시', '경상북도', '경북',
       '경상북도영주시광복로', '광주광역시', '광주', '광주동구제봉로222번길', '대구광역시', '대구', '대구남구',
       '대구시달서구월배로', '대구광역시달서구상인서로', '대구달서구', '대구광역시달서구달구벌대로', '대구시',
       '대구시달성군', '대전광역시', '대전', '대전시', '대전광영시', '대전광역시유성구대학로137번길',
       '부산광역시', '부산시', '부산', '서울특별시', '서울', '서울시', '서울특별실', '서울동대문구',
       '서울트별시', '주소', '서울특별시송파구송파대로345송파헬리오시티', '울산광역시', '울산', '인천광역시',
       '인천시', '인천', '전라남도', '전남', '전라북도', '전북', '전북특별자치도', '전라북도전주시',
       '제주특별자치도', '제주', '제주도', '제주특별자치도서귀포시', '제주특별시도', '충남', '충청남도',
       '충남논산시', '충청북도', '충북'], dtype=object)

In [56]:
seven_df['sido'] = seven_df['address'].apply(lambda x : x.split()[0])

In [60]:
pd.set_option('display.max_rows', 100)

In [62]:
seven_df.loc[seven_df['sido'].str.find("서울") > -1, 'sido'] = '서울특별시'

In [81]:
seven_df['sido'].value_counts()

sido
경기도                 3220
서울특별시               2046
경상남도                 623
충청남도                 618
경상북도                 565
인천광역시                563
대구광역시                541
강원도                  535
부산광역시                513
충청북도                 474
전라남도                 459
전라북도                 418
광주광역시                334
대전광역시                323
제주특별자치도              286
울산광역시                212
경기                   178
광주                    59
경남                    46
충남                    46
부산시                   41
경북                    39
대구                    34
전남                    33
인천                    31
충북                    27
부산                    26
대전                    24
강원                    19
강원특별자치도               15
전북특별자치도               14
제주                     9
울산                     8
전북                     6
인천시                    6
제주도                    3
경남창원시                  2
전라북도전주시                2
경기도이천시부발읍              1
대구시달성군                 1
제주특별시도                 1
경기도시흥시복지로              1
경기도김포시하성면하성로297        1
충남논산시                  1
제주특별자치도서귀포시            1
광주동구제봉로222번길           1
경상북도영주시광복로             1
대구남구                   1
대구시달서구월배로              1
대구광역시달서구상인서로           1
주소                     1
대구달서구                  1
대구광역시달서구달구벌대로          1
대구시                    1
대전광역시유성구대학로137번길       1
대전광영시                  1
대전시                    1
Name: count, dtype: int64

In [76]:
import requests 
r = requests.post("https://www.7-eleven.co.kr/util/storeLayerPop.asp")
from bs4 import BeautifulSoup
sido_name = [x.text for x in BeautifulSoup(r.text).find("select", id="storeLaySido").findAll('option')[1:]]

In [78]:
sido_name.__len__()

17

In [82]:
change_dict = {'서울':"서울특별시", '경기':"경기도", '인천':"인천광역시", '강원':"강원도", '충북':"충청북도", '충남':"충청남도", '대전':"대전광역시", '경북':"경상북도", '경남':"경상남도", '대구':"대구광역시", '울산':"울산광역시", '부산':"부산광역시", '전북':"전라북도", '전남':"전라남도", '광주':"광주광역시", '제주':"제주특별자치도", '세종':"세종특별자치시"}

for key, value in change_dict.items():
  seven_df['sido'] = seven_df['sido'].apply(lambda x: value if key in x else x)

In [83]:
seven_df['sido'].value_counts()

sido
경기도           3401
서울특별시         2046
경상남도           671
충청남도           665
경상북도           604
인천광역시          600
대구광역시          582
부산광역시          580
강원도            569
충청북도           501
전라남도           492
전라북도           438
광주광역시          394
대전광역시          350
제주특별자치도        300
울산광역시          220
전라북도전주시          2
주소               1
경상북도영주시광복로       1
Name: count, dtype: int64

In [85]:
seven_df.loc[seven_df.sido == '주소', 'address'] = "서울시 서대문구 충정로7 구세군빌딩1층"
seven_df.loc[seven_df.sido == '주소', 'sido'] = "서울특별시"

In [86]:
seven_df['sido'].value_counts()

sido
경기도           3401
서울특별시         2047
경상남도           671
충청남도           665
경상북도           604
인천광역시          600
대구광역시          582
부산광역시          580
강원도            569
충청북도           501
전라남도           492
전라북도           438
광주광역시          394
대전광역시          350
제주특별자치도        300
울산광역시          220
전라북도전주시          2
경상북도영주시광복로       1
Name: count, dtype: int64

In [87]:
seven_df.loc[seven_df.sido == '전라북도전주시', 'sido'] = "전라북도"
seven_df.loc[seven_df.sido == '경상북도영주시광복로', 'sido'] = "경상북도"

In [93]:
seven_df['sido'].value_counts()

sido
경기도        3401
서울특별시      2047
경상남도        671
충청남도        665
경상북도        605
인천광역시       600
대구광역시       582
부산광역시       580
강원도         569
충청북도        501
전라남도        492
전라북도        440
광주광역시       394
대전광역시       350
제주특별자치도     300
울산광역시       220
Name: count, dtype: int64

In [96]:
seven_df[seven_df.name.str.find("세종봉암중앙점") > -1]

Empty DataFrame
Columns: [name, address, 24시간, 무인택배접수, 카페, 베이커리, 시디, ATM, 무인락커, 치킨, 의약품, 소프트아이스크림, 토토, 고구마·붕어빵, 스마트픽, 예약주문, 페덱스서비스, sido]
Index: []

In [ ]:
CREATE TAble convenience_store(
    name VARCHAR(30) default not null, 
    address..
    sido..
    

)

In [99]:
seven_df['company'] = 'Seven'

In [101]:
seven_df.columns

Index(['name', 'address', '24시간', '무인택배접수', '카페', '베이커리', '시디', 'ATM', '무인락커',
       '치킨', '의약품', '소프트아이스크림', '토토', '고구마·붕어빵', '스마트픽', '예약주문', '페덱스서비스',
       'sido', 'company'],
      dtype='object')

In [103]:
seven_df = seven_df[['company', 'name', 'sido', 'address', '24시간', '무인택배접수', '카페', '베이커리', '시디', 'ATM', '무인락커',
       '치킨', '의약품', '소프트아이스크림', '토토', '고구마·붕어빵', '스마트픽', '예약주문', '페덱스서비스',
        ]].copy()

In [106]:
seven_melt = pd.melt(seven_df, id_vars=['company', 'name', 'sido', 'address'])

In [108]:
seven_melt[seven_melt.name == "강릉5주공점"]

       company    name sido          address  variable  value
0        Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      24시간      0
12417    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43    무인택배접수      1
24834    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43        카페      0
37251    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      베이커리      0
49668    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43        시디      1
62085    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43       ATM      0
74502    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      무인락커      0
86919    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43        치킨      0
99336    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43       의약품      1
111753   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43  소프트아이스크림      0
124170   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43        토토      0
136587   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43   고구마·붕어빵      0
149004   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      스마트픽      0
161421   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      예약주문      0
173838   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43    페덱스서비스      1

In [110]:
seven_melt.columns = ['company', 'name', 'sido', 'address', 'service_name', 'value']

Index(['company', 'name', 'sido', 'address', 'variable', 'value'], dtype='object')

In [112]:
seven_melt.rename(columns={'variable' : 'service_name'}, inplace=True)

In [113]:
seven_melt

,company,name,sido,address,service_name,value
0,Seven,강릉5주공점,강원도,강원도 강릉시 월대산로 43,24시간,0
1,Seven,강릉강문스타점,강원도,강원도 강릉시 창해로350번길 21 (강문동),24시간,0
2,Seven,강릉강문점,강원도,"강원도 강릉시 해안로 298-7 B블록 101호, 102호(강문동)",24시간,1
3,Seven,강릉강변로점,강원도,강원도 강릉시 강변로 262,24시간,0
4,Seven,강릉경포그린점,강원도,"강원도 강릉시 경포로463번길 37, 제2호",24시간,0
...,...,...,...,...,...,...
186250,Seven,충주터미널점,충청북도,충청북도 충주시 봉계1길 49,페덱스서비스,1
186251,Seven,충주푸르지오점,충청북도,"충청북도 충주시 봉계8길 2 , 1층",페덱스서비스,1
186252,Seven,충주호암점,충청북도,충청북도 충주시 호암중앙2로 32 101호(호암동),페덱스서비스,1
186253,Seven,충주호암LH점,충청북도,충청북도 충주시 호암수청2로 56,페덱스서비스,1
186254,Seven,충주힐스테이트점,충청북도,"충청북도 충주시 호암수청1로 29 (호암동, LH힐스테이트)",페덱스서비스,1

In [3]:
import pickle
with open("./conveni_total_df.pkl", "rb") as f:
    df = pickle.load(f)

In [4]:
df.shape

(640498, 11)

In [5]:
df.values.ndim

2

In [6]:
import pymysql

In [85]:
con =pymysql.connect(host='ip', user='id', password='password', db='encore', charset='utf8')
cur = con.cursor()

In [8]:
cur.execute("show tables")

0

In [21]:
df[df.open_time.notnull()].head(1)

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,seven,강릉5주공점,강원도,NaN,NaN,37.760113214,128.91519608,영업 시간 06:00 ~ 24:00,강원도 강릉시 월대산로 43,24시간,False

In [22]:
df.shape

(640498, 11)

In [25]:
for x in df.columns:
    print(f"`{x}`")

`brand`
`store_name`
`sido`
`store_tel`
`store_code`
`lat`
`longs`
`open_time`
`store_address`
`service`
`available`

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 640498 entries, 0 to 186119
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   brand          640498 non-null  object
 1   store_name     640498 non-null  object
 2   sido           640498 non-null  object
 3   store_tel      193963 non-null  object
 4   store_code     260415 non-null  object
 5   lat            446475 non-null  object
 6   longs          446475 non-null  object
 7   open_time      186120 non-null  object
 8   store_address  640498 non-null  object
 9   service        640498 non-null  object
 10  available      640498 non-null  bool
dtypes: bool(1), object(10)
memory usage: 54.4+ MB

In [35]:
df[df.open_time.notnull()].open_time.apply(lambda x : len(x)).max()

19

In [ ]:
INSERT INTO store VALUES ('엔코아', '서초동이야', '서울', '02-777-7777', 
							NULL, NULL, NULL, '08:00~21:30', '효령로 ....', '공부', 1);

In [36]:
sql = "INSERT INTO store VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [43]:
pd.notnull(df).head(3)

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,True,True,True,True,False,False,False,False,True,True,True
1,True,True,True,True,False,False,False,False,True,True,True
2,True,True,True,True,False,False,False,False,True,True,True

In [47]:
df.store_tel = df.store_tel.replace("", None)

In [49]:
df.head(2)

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,CU,가평군청점,경기도,0315817570,NaN,NaN,NaN,NaN,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",coffee,True
1,CU,가평레일파크점,경기도,None,NaN,NaN,NaN,NaN,경기도 가평군 가평읍 연인길 2 (읍내리),coffee,True

In [53]:
pd.notnull(df).head(2)

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,True,True,True,True,False,False,False,False,True,True,True
1,True,True,True,False,False,False,False,False,True,True,True

In [55]:
df2 = df.where(pd.notnull(df), None)

In [56]:
df2.iloc[0].values.tolist()

['CU',
 '가평군청점',
 '경기도',
 '0315817570',
 None,
 None,
 None,
 None,
 '경기도 가평군 가평읍 석봉로 175, (읍내리) 1호',
 'coffee',
 True]

In [61]:
df2.available = df2.available.astype(int)

In [62]:
cur.execute(sql, df2.iloc[0].values.tolist())

1

In [63]:
con.commit()

In [72]:
print("%s %d" % ("hi", 10))

hi 10

In [80]:
from tqdm import tqdm

In [86]:
for idx, row in tqdm(df2.iterrows()):
    if idx == 0:
        continue
    try:
        cur.execute(sql, row.tolist())
    except Exception as e:
        print(e)

640498it [06:52, 1551.94it/s]

In [87]:
con.commit()

In [89]:
df2[df2.store_name == "가평군청점"]

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",coffee,1
17633,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",delivery,1
35266,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",toto,0
52899,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",fried,1
70532,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",lotto,0
88165,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",cash,1
105798,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",pos,0
123431,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",bakery,0
141064,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",mix,0
158697,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",battery,0
176330,CU,가평군청점,경기도,0315817570,None,None,None,None,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",hour,1
568,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,24시간,0
12976,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,베이커리,0
25384,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,치킨,0
37792,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,의약품,0
50200,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,무인택배접수,1
62608,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,소프트아이스크림,0
75016,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,무인락커,0
87424,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,스마트픽,1
99832,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,ATM,0
112240,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,고구마·붕어빵,0
124648,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,시디,0
137056,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,카페,1
149464,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,페덱스서비스,1
161872,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,예약주문,1
174280,seven,가평군청점,경기도,None,None,37.832177054,127.51027044,영업 시간 06:00 ~ 01:00,경기도 가평군 가평읍 석봉로 192 1층,토토,0