In [94]:
import pickle
import pandas as pd
import numpy as np

In [95]:
with open("./cu.pkl","rb") as f:
    cu_df= pickle.load(f)

In [96]:
cu_df.shape

(19550, 4)

In [97]:
cu_df["store_name"].duplicated().sum()

1917

In [98]:
cu_df[cu_df["store_name"].duplicated()].head(3) #중복된데이터만 출력

,store_name,store_tel,store_address,store_service
67,고양내유점,,"경기도 고양시 덕양구 유산길 22, (내유동)","[hour, delivery, fried, coffee, cash]"
68,내유무지개점,031,"경기도 고양시 덕양구 유산길 46, (내유동) 1층","[hour, delivery, fried, coffee, cash]"
69,내유희망점,0319625273,"경기도 고양시 덕양구 내유길 81, (내유동) 1층 101,102,103호","[hour, delivery, bakery, fried, coffee, cash]"

In [99]:
cu_df[cu_df.store_name=="고양내유점"]

,store_name,store_tel,store_address,store_service
56,고양내유점,,"경기도 고양시 덕양구 유산길 22, (내유동)","[hour, delivery, fried, coffee, cash]"
67,고양내유점,,"경기도 고양시 덕양구 유산길 22, (내유동)","[hour, delivery, fried, coffee, cash]"

In [100]:
cu_df.store_service.loc[0]

['hour', 'delivery', 'fried', 'coffee', 'cash']

In [101]:
unique_cu = cu_df[~cu_df["store_name"].duplicated()].copy()

In [102]:
unique_cu.shape

(17633, 4)

In [103]:
unique_cu.isnull().sum()

store_name       0
store_tel        0
store_address    0
store_service    0
dtype: int64

In [64]:
unique_cu.iloc[1,1] # '' 값으로되어있다

''

In [65]:
unique_cu.shape

(17633, 4)

In [116]:
unique_cu['sido'] = unique_cu.store_address.apply(lambda x : x.split()[0]) #첫번째값 가져오기

In [117]:
unique_cu.value_counts('sido')
#전처리가중요하다

sido
경기도        4770
서울특별시      2859
경상남도       1208
부산광역시      1000
충청남도        922
인천광역시       915
경상북도        905
강원도         824
충청북도        683
제주특별자치도     618
대구광역시       606
전라북도        574
전라남도        515
대전광역시       427
광주광역시       403
울산광역시       370
경남            5
전북특별자치도       4
경북            2
충북            2
대구시           2
서울시           2
전남            2
서울            2
경기            1
광주            1
대구            1
부산광영시         1
부산시           1
아산시           1
부산            1
울산시           1
인천            1
인천광영시         1
충천남도          1
충청남남          1
포천시           1
Name: count, dtype: int64

In [118]:
tmp = set() #중복허용안함

In [119]:
# tmp.add("a")

In [137]:
unique_cu

,company,store_name,sido,store_address,store_tel,hour,lotto,mix,battery,pos,bakery,fried,coffee,delivery,cash,toto
0,cu,가평군청점,경기도,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",0315817570,1,0,0,0,0,False,1,1,1,1,0
1,cu,가평레일파크점,경기도,경기도 가평군 가평읍 연인길 2 (읍내리),,0,0,0,0,1,False,0,1,1,0,0
2,cu,가평본점,경기도,경기도 가평군 가화로 110-1 (가평읍) 1층,,1,0,0,0,0,False,0,1,1,1,0
3,cu,가평센타점,경기도,경기도 가평군 가평읍 오리나무길 9 1층,0315817470,1,0,0,0,0,False,0,1,1,1,0
4,cu,가평오렌지점,경기도,"경기도 가평군 가평읍 가화로 174, (읍내리)",,1,0,0,0,0,False,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19545,cu,울산학산옥교점,울산광역시,울산광역시 중구 옥교3길 76 (학산동),,1,0,0,0,0,False,1,1,1,0,0
19546,cu,울산학성점,울산광역시,"울산광역시 중구 학성4길 65, (학성동)",0522971245,1,0,0,0,0,True,1,1,1,1,0
19547,cu,울산학성중앙점,울산광역시,울산광역시 중구 학성공원12길 20 (학성동),,1,0,0,0,0,True,1,1,1,1,0
19548,cu,학성동UBC점,울산광역시,울산광역시 중구 구역전1길 37-9,0522431329,1,0,0,1,0,False,0,1,1,1,0
19549,cu,학성드림점,울산광역시,울산광역시 중구 구교로 83,,1,0,0,0,0,False,0,1,1,0,0

In [135]:
service_set=set()
unique_cu['store_service'].apply(lambda x : [service_set.add(y) for y in x])

KeyError: 'store_service'

In [136]:
for service in service_set:
    # print(x)
    unique_cu[service]= unique_cu.store_service.apply(lambda x : 1 if service in x else 0)

In [105]:
service_set

{'bakery',
 'battery',
 'cash',
 'coffee',
 'delivery',
 'fried',
 'hour',
 'lotto',
 'mix',
 'pos',
 'toto'}

In [106]:
#패턴잡기
unique_cu["bakery"]= unique_cu.store_service.apply(lambda x : True if "bakery" in x else False)

In [107]:
unique_cu.value_counts('delivery',normalize=True)

delivery
1    0.824193
0    0.175807
Name: proportion, dtype: float64

In [108]:
unique_cu.value_counts('hour',normalize=True)

hour
1    0.832757
0    0.167243
Name: proportion, dtype: float64

In [121]:
unique_cu[(unique_cu.delivery) & (unique_cu.store_address.str.find("효령로")>-1) \
& (unique_cu.store_address.str.find("서울특별시")>-1)]

,store_name,store_tel,store_address,hour,lotto,mix,battery,pos,bakery,fried,coffee,delivery,cash,toto,sido
7254,방배제일점,025888232,"서울특별시 서초구 효령로23길 90, (방배동)",1,0,0,0,0,False,0,1,1,0,0,서울특별시
7260,서울백석대점,025259811,서울특별시 서초구 효령로28길 3 RNC빌딩,1,0,0,1,0,False,1,1,1,1,0,서울특별시
7264,서초그랑자이점,,"서울특별시 서초구 효령로403 서초그랑자이 1층 상가동 101, 110호",1,0,0,0,0,False,0,1,1,0,0,서울특별시
7269,남부터미널역점,025975601,"서울특별시 서초구 효령로 279, (서초동)",1,0,0,0,0,False,0,1,1,1,0,서울특별시
7313,아크로텔강남역점,0234871577,서울특별시 서초구 효령로77길 34 아크로텔강남역 (서초동) 아크로텔강남역,1,0,0,0,0,False,0,1,1,0,0,서울특별시

In [110]:
# unique_cu.drop(['store_service'],axis=1,inplace=True)

In [122]:
unique_cu

,store_name,store_tel,store_address,hour,lotto,mix,battery,pos,bakery,fried,coffee,delivery,cash,toto,sido
0,가평군청점,0315817570,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",1,0,0,0,0,False,1,1,1,1,0,경기도
1,가평레일파크점,,경기도 가평군 가평읍 연인길 2 (읍내리),0,0,0,0,1,False,0,1,1,0,0,경기도
2,가평본점,,경기도 가평군 가화로 110-1 (가평읍) 1층,1,0,0,0,0,False,0,1,1,1,0,경기도
3,가평센타점,0315817470,경기도 가평군 가평읍 오리나무길 9 1층,1,0,0,0,0,False,0,1,1,1,0,경기도
4,가평오렌지점,,"경기도 가평군 가평읍 가화로 174, (읍내리)",1,0,0,0,0,False,0,1,1,1,0,경기도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19545,울산학산옥교점,,울산광역시 중구 옥교3길 76 (학산동),1,0,0,0,0,False,1,1,1,0,0,울산광역시
19546,울산학성점,0522971245,"울산광역시 중구 학성4길 65, (학성동)",1,0,0,0,0,True,1,1,1,1,0,울산광역시
19547,울산학성중앙점,,울산광역시 중구 학성공원12길 20 (학성동),1,0,0,0,0,True,1,1,1,1,0,울산광역시
19548,학성동UBC점,0522431329,울산광역시 중구 구역전1길 37-9,1,0,0,1,0,False,0,1,1,1,0,울산광역시
19549,학성드림점,,울산광역시 중구 구교로 83,1,0,0,0,0,False,0,1,1,0,0,울산광역시

In [123]:
unique_cu.sido.value_counts()
# 경기도        3401
# 서울특별시      2047
# 경상남도        671
# 충청남도        665
# 경상북도        605
# 인천광역시       600
# 대구광역시       582
# 부산광역시       580
# 강원도         569
# 충청북도        501
# 전라남도        492
# 전라북도        440
# 광주광역시       394
# 대전광역시       350
# 제주특별자치도     300
# 울산광역시       220

# 경기도        4770
# 서울특별시      2859
# 경상남도       1208
# 부산광역시      1000
# 충청남도        922
# 인천광역시       915
# 경상북도        905
# 강원도         824
# 충청북도        683
# 제주특별자치도     618
# 대구광역시       606
# 전라북도        574
# 전라남도        515
# 대전광역시       427
# 광주광역시       403
# 울산광역시       370

sido
경기도        4770
서울특별시      2859
경상남도       1208
부산광역시      1000
충청남도        922
인천광역시       915
경상북도        905
강원도         824
충청북도        683
제주특별자치도     618
대구광역시       606
전라북도        574
전라남도        515
대전광역시       427
광주광역시       403
울산광역시       370
경남            5
전북특별자치도       4
경북            2
서울            2
서울시           2
전남            2
대구시           2
충북            2
경기            1
포천시           1
부산            1
부산광영시         1
부산시           1
아산시           1
충천남도          1
인천광영시         1
충청남남          1
인천            1
대구            1
광주            1
울산시           1
Name: count, dtype: int64

In [124]:
unique_cu.loc[unique_cu['sido'].str.find("경남")>-1,"sido"]="경상남도"
unique_cu.loc[unique_cu['sido'].str.find("전북특별자치도")>-1,"sido"]="전라북도"
unique_cu.loc[unique_cu['sido'].str.find("경북")>-1,"sido"]="경상북도"
unique_cu.loc[unique_cu['sido'].str.find("서울")>-1,"sido"]="서울특별시"
unique_cu.loc[unique_cu['sido'].str.find("서울시")>-1,"sido"]="서울특별시"
unique_cu.loc[unique_cu['sido'].str.find("전남")>-1,"sido"]="전라남도"
unique_cu.loc[unique_cu['sido'].str.find("대구시")>-1,"sido"]="대구광역시"
unique_cu.loc[unique_cu['sido'].str.find("충북")>-1,"sido"]="충청북도"
unique_cu.loc[unique_cu['sido'].str.find("경기")>-1,"sido"]="경기도"
unique_cu.loc[unique_cu['sido'].str.find("포천시")>-1,"sido"]="경기도"
unique_cu.loc[unique_cu['sido'].str.find("부산")>-1,"sido"]="부산광역시"
unique_cu.loc[unique_cu['sido'].str.find("부산광영시")>-1,"sido"]="부산광역시"
unique_cu.loc[unique_cu['sido'].str.find("부산시")>-1,"sido"]="부산광역시"
unique_cu.loc[unique_cu['sido'].str.find("충천남도")>-1,"sido"]="충청남도"
unique_cu.loc[unique_cu['sido'].str.find("인천광영시")>-1,"sido"]="인천광역시"
unique_cu.loc[unique_cu['sido'].str.find("충청남남")>-1,"sido"]="충청남도"
unique_cu.loc[unique_cu['sido'].str.find("인천")>-1,"sido"]="인천광역시"
unique_cu.loc[unique_cu['sido'].str.find("대구")>-1,"sido"]="대구광역시"
unique_cu.loc[unique_cu['sido'].str.find("광주")>-1,"sido"]="광주광역시"
unique_cu.loc[unique_cu['sido'].str.find("울산시")>-1,"sido"]="울산광역시"
unique_cu.loc[unique_cu['sido'].str.find("아산시")>-1,"sido"]="충청남도"

In [125]:
unique_cu.sido.value_counts()

sido
경기도        4772
서울특별시      2863
경상남도       1213
부산광역시      1003
충청남도        925
인천광역시       917
경상북도        907
강원도         824
충청북도        685
제주특별자치도     618
대구광역시       609
전라북도        578
전라남도        517
대전광역시       427
광주광역시       404
울산광역시       371
Name: count, dtype: int64

In [126]:
unique_cu['company']="cu"

In [127]:
unique_cu.columns

Index(['store_name', 'store_tel', 'store_address', 'hour', 'lotto', 'mix',
       'battery', 'pos', 'bakery', 'fried', 'coffee', 'delivery', 'cash',
       'toto', 'sido', 'company'],
      dtype='object')

In [128]:
unique_cu = unique_cu[['company','store_name', "sido" , 'store_address',"store_tel", 'hour', 'lotto',
       'mix', 'battery', 'pos', 'bakery', 'fried', 'coffee', 'delivery',
       'cash', 'toto']]

In [86]:
# unique_cu.drop(["store_tel"],axis=1,inplace=True) #inplace하기전에 해도 괜찮은지 확인하기

In [131]:
# pd.melt(seven_df,id_vars=["
cu_melt = pd.melt(unique_cu, id_vars=['company', 'store_name', 'sido', 'store_address',"store_tel"])

In [132]:
cu_melt

,company,store_name,sido,store_address,store_tel,variable,value
0,cu,가평군청점,경기도,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",0315817570,hour,1
1,cu,가평레일파크점,경기도,경기도 가평군 가평읍 연인길 2 (읍내리),,hour,0
2,cu,가평본점,경기도,경기도 가평군 가화로 110-1 (가평읍) 1층,,hour,1
3,cu,가평센타점,경기도,경기도 가평군 가평읍 오리나무길 9 1층,0315817470,hour,1
4,cu,가평오렌지점,경기도,"경기도 가평군 가평읍 가화로 174, (읍내리)",,hour,1
...,...,...,...,...,...,...,...
193958,cu,울산학산옥교점,울산광역시,울산광역시 중구 옥교3길 76 (학산동),,toto,0
193959,cu,울산학성점,울산광역시,"울산광역시 중구 학성4길 65, (학성동)",0522971245,toto,0
193960,cu,울산학성중앙점,울산광역시,울산광역시 중구 학성공원12길 20 (학성동),,toto,0
193961,cu,학성동UBC점,울산광역시,울산광역시 중구 구역전1길 37-9,0522431329,toto,0
193962,cu,학성드림점,울산광역시,울산광역시 중구 구교로 83,,toto,0

In [133]:
cu_melt.columns

Index(['company', 'store_name', 'sido', 'store_address', 'store_tel',
       'variable', 'value'],
      dtype='object')

In [134]:
cu_melt.rename(columns={"variable" : "service_name"},inplace=True)

In [89]:
# sudo apt install mysql-server
# sudo service mysql status /mysql 백그라운드 데몬이있는데 status값보여줘
#  sudo service mysql start
# wsl->윈도우->리얼->sudo systemctl enable mysql
# sudo service mysql start stop status restart 
 # sudo mysql -uroot -p
#mysql 에서 select user, host from mysql.user;해보기
# heidi sql
# 3306 port mysql maridb
 # create user name@'%' identified by 'password!';
# grant all privileges on *.* to name@'%';
# exit;
# mysql -uname -ppassword
# sudo mysql -uname -ppassword socket에 접근을 못하므로 sudo를 적어준다
# socket은 통신하는 프로그램인데 나와 db와 하는건데
# 127.0.0.1만 허용해주겠다고 되어있는데 bind-address변환
# cmd창열고 wsl -> cd ~ -> cd /etc/mysql/mysql.conf.d #mysql환경파일
# mysql.cnf  mysqld.cnf
# sudo vim mysqld.cnf 3자는읽ㄴ는거만가능해서
# bind-address=0.0.0.0 모든ip접속허용
#my sql 재가동
# hash로 딕셔너리 키값만드므로 빠르다

In [68]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.29-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 15.0 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in /home/jotaesik/.local/lib/python3.10/site-packages (from sqlalchemy) (4.10.0)
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 KB 25.1 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.29
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# 세븐일레븐 db넣어보기

In [69]:
import sqlalchemy #orm 써봤다, 장고나 플라스크할때 alchemy로 스키마작성안해도 알아서넣어준다 
#dbeaver
from urllib import parse

In [70]:
user = 'name'
password = 'password'
host='ip'
port = 3306
database = 'encore'
password = parse.quote_plus(password)
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [ ]:
# ORM  객체관계매핑

In [72]:
unique_cu.to_sql('cu',index=False,if_exists="append",con=engine)

17633

In [11]:
# cu_df.drop_duplicates()

DATABASE-RDBMS 
mysql
    -MARIADB-스타트업기준
    -LINE

POostgresql-교보
    -GRAPH DB많이만듬
DB2-IBM회사
oracle->비쌈
      <=>google,sap

SQL ==SEQUEL 시퀄
ANSI SQL 2005

BIGDATA
Hadoop-data lake 접근시스템 ogdata 접근안하기위해서 
    java로 구현, MapReduce필요
    <==>meta facebook,instagram
        sql->java변환 해주는게 hive
        ML,DL->예측,분류

        SCM-공동망관리
        SPARCK-Hadoop 의 데이터를 분류(병렬처리) 속도 fast 
        fuctional program 함수->함수

        Scala JVM
        ->Pyspark, SparkR 

        UC버클리
        Apach Spark
        ->DataBricks 작년에 설립<=>Snowflake
                                    워렌버핏이 투자함
        11번가 spark



ERP 전사적자원관리
    1위 SAP
        -SAMSUNG,LG,SK,...
        -Abap
        -회사업무를 프로그램하놓은것
        -MM,SSD,PP,HR...
        -Abap 월2,3천 consulting 5천
        -POSCO-ORACLE
    2위 HANA
        -IN-MEMORY DB 
            FAST-건강관리협회

SyntaxError: invalid syntax (371399743.py, line 1)