In [183]:
import pandas as pd
import numpy as np
import scipy as sc

In [184]:
상반기 = pd.read_csv("./상반기 주유소 판매가격.csv",encoding='cp949')
하반기 = pd.read_csv("./하반기 주유소 판매가격.csv",encoding='cp949')

In [185]:
상반기.head(1)

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0

In [186]:
하반기.head(1)

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190701,SK에너지,셀프,1777,1577,1477,0

In [187]:
주유소 = pd.concat([상반기,하반기])

In [188]:
주유소.shape

(181714, 11)

In [189]:
주유소.duplicated().sum()

0

In [190]:
집계결과 = 주유소[['지역', '상호', '상표']].drop_duplicates().groupby(['지역', '상표'])[['상표']].count().rename(columns={"상표" : "집계"}).reset_index()

In [191]:
집계결과

         지역      상표  집계
0    서울 강남구   GS칼텍스  12
1    서울 강남구   S-OIL   6
2    서울 강남구   SK에너지  19
3    서울 강남구  현대오일뱅크   5
4    서울 강동구   GS칼텍스   5
..      ...     ...  ..
109  서울 중랑구   GS칼텍스   5
110  서울 중랑구   S-OIL   6
111  서울 중랑구   SK에너지   5
112  서울 중랑구   알뜰주유소   1
113  서울 중랑구  현대오일뱅크   1

[114 rows x 3 columns]

In [192]:
집계결과.sort_values(by=["집계"],ascending=False).groupby(["지역"]).first().value_counts("상표", normalize=True)

상표
SK에너지     0.72
GS칼텍스     0.16
S-OIL     0.08
현대오일뱅크    0.04
Name: proportion, dtype: float64

In [73]:
주유소["번호"].unique().size

512

In [78]:
주유소

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0
1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0
2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190103,SK에너지,셀프,1673,1465,1365,0
3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190104,SK에너지,셀프,1673,1465,1365,0
4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190105,SK에너지,셀프,1673,1465,1365,0
...,...,...,...,...,...,...,...,...,...,...,...
91119,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191227,GS칼텍스,셀프,0,1540,1389,1100
91120,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191228,GS칼텍스,셀프,0,1540,1389,1100
91121,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191229,GS칼텍스,셀프,0,1540,1389,1100
91122,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191230,GS칼텍스,셀프,0,1540,1389,1100
91123,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191231,GS칼텍스,셀프,0,1540,1389,1100

In [82]:
주유소_365 = 주유소.groupby(['상호'])['번호'].count()[주유소.groupby(['상호'])['번호'].count() == 365].index

In [86]:
주유소_365

Index([' 현대오일뱅크㈜직영 구로셀프주유소', '(주)MS주유소', '(주)가재울뉴타운주유소', '(주)강서오일', '(주)기지에너지',
       '(주)남경주유소', '(주)뉴명성산업 남성주유소', '(주)대농석유 남태령주유소', '(주)대양씨앤씨 사직주유소',
       '(주)대청에너지 대청주유소',
       ...
       '현대오일뱅크(주)직영 중곡현대주유소', '현대오일뱅크(주)직영 한양주유소', '현대오일뱅크㈜직영 고대셀프주유소',
       '현대오일뱅크㈜직영 목동셀프주유소', '형산석유(주)원주유소', '홍능주유소', '화곡역주유소', '화랑대주유소',
       '화성주유소', '흥국주유소'],
      dtype='object', name='상호', length=403)

In [84]:
주유소_ = 주유소[~주유소.상호.isin(주유소_365)].copy()

In [85]:
주유소_.shape

(34619, 11)

In [88]:
주유소_ #364이하 데이터

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
1086,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190101,GS칼텍스,셀프,0,1458,1319,0
1087,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190102,GS칼텍스,셀프,0,1458,1319,0
1088,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190103,GS칼텍스,셀프,0,1458,1319,0
1089,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190104,GS칼텍스,셀프,0,1438,1298,0
1090,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190105,GS칼텍스,셀프,0,1398,1298,0
...,...,...,...,...,...,...,...,...,...,...,...
90383,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191227,GS칼텍스,셀프,0,1535,1355,0
90384,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191228,GS칼텍스,셀프,0,1535,1355,0
90385,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191229,GS칼텍스,셀프,0,1535,1355,0
90386,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191230,GS칼텍스,셀프,0,1535,1355,0
90387,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191231,GS칼텍스,셀프,0,1535,1355,0

In [89]:
tmp = pd.DataFrame(주유소.groupby(['상호'])['번호'].count() == 365)

In [90]:
tmp[~tmp.번호].index.size

104

In [98]:
주유소_["월"] = 주유소_["기간"].apply(lambda x : str(x)[4:6])

In [110]:
폐업 = 주유소_[["주소","월"]].drop_duplicates().groupby(["월"])[["주소"]].count()

In [111]:
폐업["현황"] = 폐업.주소 - 폐업.주소.shift(1)

In [116]:
폐업.fillna(0).rename(columns={"주소":"집계", "현황":"폐업갯수"}).reset_index()

     월   집계  폐업갯수
0   01  105   0.0
1   02  105   0.0
2   03  100  -5.0
3   04   98  -2.0
4   05   98   0.0
5   06   96  -2.0
6   07   97   1.0
7   08   96  -1.0
8   09   96   0.0
9   10   96   0.0
10  11   93  -3.0
11  12   92  -1.0

In [117]:
폐업.fillna(0).rename(columns={"주소":"집계", "현황":"폐업갯수"}).reset_index(drop=True)

     집계  폐업갯수
0   105   0.0
1   105   0.0
2   100  -5.0
3    98  -2.0
4    98   0.0
5    96  -2.0
6    97   1.0
7    96  -1.0
8    96   0.0
9    96   0.0
10   93  -3.0
11   92  -1.0

In [119]:
주유소.groupby(["지역"])["휘발유"].mean()

지역
서울 강남구     1713.093581
서울 강동구     1576.685264
서울 강북구     1453.517525
서울 강서구     1488.818088
서울 관악구     1518.128564
서울 광진구     1490.597054
서울 구로구     1525.410383
서울 금천구     1477.121992
서울 노원구     1531.221551
서울 도봉구     1494.171062
서울 동대문구    1506.833542
서울 동작구     1512.470911
서울 마포구     1689.755616
서울 서대문구    1528.943332
서울 서초구     1577.131304
서울 성동구     1583.659561
서울 성북구     1507.948267
서울 송파구     1518.957954
서울 양천구     1512.890261
서울 영등포구    1568.279506
서울 용산구     1882.049825
서울 은평구     1481.964026
서울 종로구     1838.554945
서울 중구      1976.948052
서울 중랑구     1469.009092
Name: 휘발유, dtype: float64

In [121]:
강남구 = 주유소_.query("지역=='서울 강남구'")
도봉구 = 주유소_.query("지역=='서울 도봉구'")

In [124]:
강남구.groupby(["상호"])[['휘발유']].mean()

                          휘발유
상호
GS칼텍스(주)직영 산성주유소  1497.730769
SK에너지㈜ 진달래주유소     1604.279330
삼성주유소             1767.592593
에스제이에너지(주) 개포주유소  1574.289256
오일프러스 셀프          1972.141618
자곡셀프주유소           1556.203297

In [125]:
도봉구.groupby(["상호"])[['휘발유']].mean()

                               휘발유
상호
(주)소모에너지엔테크놀러지 신중계주유소  1534.026936
SK네트웍스(주)도봉행복주유소       1459.862637
극동유화(주)대안주유소           1454.660377
창동제일주유소                1533.909341
해와달주유소                 1884.365385

In [128]:
import scipy.stats

In [ ]:
# 귀무가설 두집단간의 평균 동일 0.05보다 작으면 귀무가설 기각 
# 대립가설 두집다간의 평균 차이

In [130]:
sc.stats.ttest_ind(a = 강남구.groupby(["상호"])['휘발유'].mean().values,
                   b=도봉구.groupby(["상호"])['휘발유'].mean().values)

TtestResult(statistic=0.825337249962133, pvalue=0.43051270565562705, df=9.0)

In [93]:
주유소_[주유소_.기간==20190101].주소.unique().size

104

In [83]:
# 주유소[~주유소.상호.isin(주유소.groupby(["상호"])["번호"].count().index)]

In [20]:
# 주유소["구군"] = 주유소.주소.apply(lambda x : x.split(" ")[1])

In [35]:
# temp = 주유소.groupby(['지역'],as_index=False)['상표'].value_counts()

In [42]:
# temp["지역"].unique()

array(['서울 강남구', '서울 강동구', '서울 강북구', '서울 강서구', '서울 관악구', '서울 광진구',
       '서울 구로구', '서울 금천구', '서울 노원구', '서울 도봉구', '서울 동대문구', '서울 동작구',
       '서울 마포구', '서울 서대문구', '서울 서초구', '서울 성동구', '서울 성북구', '서울 송파구',
       '서울 양천구', '서울 영등포구', '서울 용산구', '서울 은평구', '서울 종로구', '서울 중구',
       '서울 중랑구'], dtype=object)

In [44]:
# 주유소[주유소.지역 == '서울 서초구']['상표'].value_counts()

상표
GS칼텍스     5379
SK에너지     5043
S-OIL     1553
현대오일뱅크    1242
알뜰(ex)     365
NH-OIL     180
Name: count, dtype: int64

In [131]:
import sqlalchemy
from urllib import parse
user = 'id'
password = 'pw'
host='ip'
port = port
database = 'db'
password = parse.quote_plus(password)
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [135]:
# 테이블 설명 
# aisles, departments는 삼품의 카테고리를 의미 
# order_products__prior는 각 주문 번호의 상세 구매 내역 
# oders는 주문 대표 정보 
# products 상품 정보를 포함

In [155]:
df = pd.read_sql_query("select * from order_products__prior", con=engine)

In [152]:
type(order_products__prior.head(1).add_to_cart_order)

pandas.core.series.Series

In [164]:
df['first']= df.add_to_cart_order.apply(lambda x :  1 if x == "1" else 0)
df2 = df.groupby(['product_id'], as_index=False)[['first']].sum()

In [163]:
df2[df2["first"]==1]

      product_id  first
12            47      1
19            93      1
20            95      1
24           116      1
33           141      1
...          ...    ...
9254       49519      1
9266       49587      1
9270       49608      1
9271       49610      1
9276       49634      1

[1437 rows x 2 columns]

In [166]:
df2["first"].max()

117

In [173]:
df2[df2["first"]==117]

      product_id  first
4637       24852    117

In [175]:
df3 = df2.sort_values(by=["first"],ascending=False).reset_index(drop=True)

In [179]:
df3["rank"] = df3["first"].rank(ascending=False)

In [180]:
df3["rank"]=df3["rank"].astype(int)

In [182]:
df3.head(10)

   product_id  first  rank
0       24852    117     1
1       13176     62     2
2       27845     37     3
3       21137     31     4
4       21903     27     5
5       47209     24     6
6       19660     18     7
7       16797     17     8
8       12341     16     9
9        5785     16     9

In [ ]:
# SELECT A.product_id, A.cnt, RANK() OVER(ORDER BY A.cnt desc) AS rnk
# FROM (SELECT product_id, COUNT(*) AS cnt 
# FROM order_products__prior
# WHERE add_to_cart_order = 1
# group by product_id
# ORDER BY cnt DESC) A LIMIT 10;


# SELECT *, 
# ROW_NUMBER() OVER(ORDER BY FIRST DESC) rnk
# FROM 
# (SELECT  product_id,  SUM(CASE WHEN ADD_TO_CART_ORDER = 1 THEN 1 ELSE 0 END) FIRST
# FROM order_products__prior
# GROUP BY 1) A LIMIT 10;