In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
customers = pd.read_csv('./dacon_data/open/customers.csv')
locations = pd.read_csv('./dacon_data/open/locations.csv')
orders = pd.read_csv('./dacon_data/open/orders.csv')
order_items = pd.read_csv('./dacon_data/open/order_items.csv')
payments = pd.read_csv('./dacon_data/open/payments.csv')
products = pd.read_csv('./dacon_data/open/products.csv')
reviews = pd.read_csv('./dacon_data/open/reviews.csv')
sellers = pd.read_csv('./dacon_data/open/sellers.csv')
temp = pd.merge(reviews,order_items, how='inner',on='Order_id')
temp = pd.merge(temp,orders, how='inner',on='Order_id')
temp = pd.merge(temp,payments, how='inner',on='Order_id')
temp = pd.merge(temp,products, how='inner',on='Product_id')
temp = pd.merge(temp,customers, how='inner',on='Customer_id')
temp = pd.merge(temp,sellers, how='inner',on='Seller_id')
temp = temp.drop(["Review_creation_date","Review_answer_timestamp","Order_status","Payment_sequential","Payment_type","Payment_installments"],axis=1)
# temp = temp.drop(["Product_weight_g","Product_length_cm","Product_height_cm","Customer_zipcode_prefix","Seller_zipcode_prefix"],axis=1)
# temp = temp.drop(["Product_width_cm"],axis=1)

In [115]:
temp = temp.drop(["Product_width_cm"],axis=1)

In [116]:
temp = temp.drop(["Product_weight_g","Product_length_cm","Product_height_cm"],axis=1)

In [117]:
temp.head(1)

,Review_id,Order_id,Review_score,Order_item_id,Product_id,Seller_id,Price,Freight_value,Customer_id,Order_purchase_timestamp,...,Order_estimated_delivery_date,Payment_value,Product_category_name,Customer_unique_id,Customer_zipcode_prefix,Customer_city,Customer_state,Seller_zipcode_prefix,Seller_city,Seller_state
0,REVIEW_00000,ORDER_01674,4,1,PRODUCT_21853,SELLER_0286,185.0,13.63,CUSTOMER_38995,2019-01-11 15:30:49,...,2019-02-02,397.26,sports_leisure,CUSTOMER_Unique_38397,6030,osasco,SP,14600,sao joaquim da barra,SP

In [118]:
locations.head(1)

,Geolocation_zipcode_prefix,Geolocation_lat,Geolocation_lng,Geolocation_city,Geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP

In [119]:
temp.head(1)

,Review_id,Order_id,Review_score,Order_item_id,Product_id,Seller_id,Price,Freight_value,Customer_id,Order_purchase_timestamp,...,Order_estimated_delivery_date,Payment_value,Product_category_name,Customer_unique_id,Customer_zipcode_prefix,Customer_city,Customer_state,Seller_zipcode_prefix,Seller_city,Seller_state
0,REVIEW_00000,ORDER_01674,4,1,PRODUCT_21853,SELLER_0286,185.0,13.63,CUSTOMER_38995,2019-01-11 15:30:49,...,2019-02-02,397.26,sports_leisure,CUSTOMER_Unique_38397,6030,osasco,SP,14600,sao joaquim da barra,SP

In [120]:
# locations[locations.Geolocation_zipcode_prefix == 14600]
# location 중복된 우편번호?
# locations.Geolocation_zipcode_prefix.unique().size #19015
# locations.shape #1000163
# locations.Geolocation_zipcode_prefix.value_counts().reset_index()
locations_group_lat=locations.groupby(["Geolocation_zipcode_prefix"])["Geolocation_lat"].mean().reset_index()
locations_group_lng=locations.groupby(["Geolocation_zipcode_prefix"])["Geolocation_lng"].mean().reset_index()

In [121]:
locations_group_lat.head(1)

   Geolocation_zipcode_prefix  Geolocation_lat
0                        1001        -23.55019

In [122]:
locations_group =  pd.merge(locations_group_lat, locations_group_lng, how = 'inner', on="Geolocation_zipcode_prefix")

In [123]:
# 6030
locations_group_lat[locations_group_lat.Geolocation_zipcode_prefix==6030]

      Geolocation_zipcode_prefix  Geolocation_lat
3069                        6030       -23.557079

In [124]:
temp = pd.merge(temp, locations_group, left_on = 'Customer_zipcode_prefix', right_on = 'Geolocation_zipcode_prefix', how = 'inner')

In [125]:
temp.head(1)

,Review_id,Order_id,Review_score,Order_item_id,Product_id,Seller_id,Price,Freight_value,Customer_id,Order_purchase_timestamp,...,Customer_unique_id,Customer_zipcode_prefix,Customer_city,Customer_state,Seller_zipcode_prefix,Seller_city,Seller_state,Geolocation_zipcode_prefix,Geolocation_lat,Geolocation_lng
0,REVIEW_00000,ORDER_01674,4,1,PRODUCT_21853,SELLER_0286,185.0,13.63,CUSTOMER_38995,2019-01-11 15:30:49,...,CUSTOMER_Unique_38397,6030,osasco,SP,14600,sao joaquim da barra,SP,6030,-23.557079,-46.767579

In [126]:
temp = temp.rename(columns={'Geolocation_lat':'Customer_lat',"Geolocation_lng" : "Customer_lng" })
temp.head(1)

,Review_id,Order_id,Review_score,Order_item_id,Product_id,Seller_id,Price,Freight_value,Customer_id,Order_purchase_timestamp,...,Customer_unique_id,Customer_zipcode_prefix,Customer_city,Customer_state,Seller_zipcode_prefix,Seller_city,Seller_state,Geolocation_zipcode_prefix,Customer_lat,Customer_lng
0,REVIEW_00000,ORDER_01674,4,1,PRODUCT_21853,SELLER_0286,185.0,13.63,CUSTOMER_38995,2019-01-11 15:30:49,...,CUSTOMER_Unique_38397,6030,osasco,SP,14600,sao joaquim da barra,SP,6030,-23.557079,-46.767579

In [127]:
# temp.head(1)

In [128]:
# locations_group_lat=locations.groupby(["Geolocation_zipcode_prefix"])["Geolocation_lat"].mean().reset_index()
# locations_group_lng=locations.groupby(["Geolocation_zipcode_prefix"])["Geolocation_lng"].mean().reset_index()
# locations_group =  pd.merge(locations_group_lat, locations_group_lng, how = 'inner', on="Geolocation_zipcode_prefix")
temp = pd.merge(temp, locations_group, left_on = 'Seller_zipcode_prefix', right_on = 'Geolocation_zipcode_prefix', how = 'inner')
temp = temp.rename(columns={'Geolocation_lat':'Seller_lat',"Geolocation_lng" : "Seller_lng" })

In [129]:
temp.columns

Index(['Review_id', 'Order_id', 'Review_score', 'Order_item_id', 'Product_id',
       'Seller_id', 'Price', 'Freight_value', 'Customer_id',
       'Order_purchase_timestamp', 'Order_delivered_carrier_date',
       'Order_delivered_customer_date', 'Order_estimated_delivery_date',
       'Payment_value', 'Product_category_name', 'Customer_unique_id',
       'Customer_zipcode_prefix', 'Customer_city', 'Customer_state',
       'Seller_zipcode_prefix', 'Seller_city', 'Seller_state',
       'Geolocation_zipcode_prefix_x', 'Customer_lat', 'Customer_lng',
       'Geolocation_zipcode_prefix_y', 'Seller_lat', 'Seller_lng'],
      dtype='object')

In [130]:
temp.drop(["Geolocation_zipcode_prefix_x","Geolocation_zipcode_prefix_y","Customer_zipcode_prefix", "Seller_zipcode_prefix"], axis=1,inplace=True)

In [131]:
temp.columns

Index(['Review_id', 'Order_id', 'Review_score', 'Order_item_id', 'Product_id',
       'Seller_id', 'Price', 'Freight_value', 'Customer_id',
       'Order_purchase_timestamp', 'Order_delivered_carrier_date',
       'Order_delivered_customer_date', 'Order_estimated_delivery_date',
       'Payment_value', 'Product_category_name', 'Customer_unique_id',
       'Customer_city', 'Customer_state', 'Seller_city', 'Seller_state',
       'Customer_lat', 'Customer_lng', 'Seller_lat', 'Seller_lng'],
      dtype='object')

In [132]:
temp.drop

<bound method DataFrame.drop of            Review_id     Order_id  Review_score  Order_item_id     Product_id  \
0       REVIEW_00000  ORDER_01674             4              1  PRODUCT_21853
1       REVIEW_00000  ORDER_01674             4              2  PRODUCT_21853
2       REVIEW_00001  ORDER_80140             5              1  PRODUCT_18124
3       REVIEW_00002  ORDER_69816             5              1  PRODUCT_07372
4       REVIEW_00003  ORDER_24398             5              1  PRODUCT_22159
...              ...          ...           ...            ...            ...
104431  REVIEW_87298  ORDER_58840             5              1  PRODUCT_25263
104432  REVIEW_87299  ORDER_75162             5              1  PRODUCT_03024
104433  REVIEW_87300  ORDER_08690             5              1  PRODUCT_24946
104434  REVIEW_87301  ORDER_25681             4              1  PRODUCT_20058
104435  REVIEW_87302  ORDER_45326             1              1  PRODUCT_01615

          Seller_id   Price  Freight_value     Customer_id  \
0       SELLER_0286  185.00          13.63  CUSTOMER_38995
1       SELLER_0286  185.00          13.63  CUSTOMER_38995
2       SELLER_0262   79.79           8.30  CUSTOMER_81808
3       SELLER_2445  149.00          45.12  CUSTOMER_27108
4       SELLER_2445  179.99          42.85  CUSTOMER_62103
...             ...     ...            ...             ...
104431  SELLER_0766  226.77          61.20  CUSTOMER_06636
104432  SELLER_2634  199.99           9.77  CUSTOMER_48218
104433  SELLER_1192  215.97          15.59  CUSTOMER_86112
104434  SELLER_0642   50.95          15.46  CUSTOMER_54637
104435  SELLER_1845   32.90           7.78  CUSTOMER_83783

       Order_purchase_timestamp  ...  Product_category_name  \
0           2019-01-11 15:30:49  ...         sports_leisure
1           2019-01-11 15:30:49  ...         sports_leisure
2           2019-02-28 12:25:19  ...  computers_accessories
3           2019-02-03 09:56:22  ...  computers_accessories
4           2018-04-09 17:41:13  ...           garden_tools
...                         ...  ...                    ...
104431      2019-06-27 17:31:29  ...        furniture_decor
104432      2018-12-03 21:45:23  ...                   toys
104433      2019-03-18 09:52:19  ...             stationery
104434      2019-06-22 16:47:28  ...         sports_leisure
104435      2018-06-29 10:43:25  ...  computers_accessories

           Customer_unique_id           Customer_city  Customer_state  \
0       CUSTOMER_Unique_38397                  osasco              SP
1       CUSTOMER_Unique_38397                  osasco              SP
2       CUSTOMER_Unique_79322             nova odessa              SP
3       CUSTOMER_Unique_26812  santo antonio de jesus              BA
4       CUSTOMER_Unique_60663                gravatal              SC
...                       ...                     ...             ...
104431  CUSTOMER_Unique_06622                 goiania              GO
104432  CUSTOMER_Unique_47339          rio de janeiro              RJ
104433  CUSTOMER_Unique_83387                  lavras              MG
104434  CUSTOMER_Unique_53535                   betim              MG
104435  CUSTOMER_Unique_81189               guarulhos              SP

                  Seller_city Seller_state Customer_lat Customer_lng  \
0        sao joaquim da barra           SP   -23.557079   -46.767579
1        sao joaquim da barra           SP   -23.557079   -46.767579
2         sao jose dos campos           SP   -22.785779   -47.312537
3                    ilicinea           MG   -12.967176   -39.243114
4                    ilicinea           MG   -28.328525   -49.049950
...                       ...          ...          ...          ...
104431            santo andre           SP   -16.701907   -49.239576
104432         rio de janeiro           RJ   -23.000619   -43.404718
104433                  betim           MG   -21.244709   -44.999202
104434  sao bernardo do campo           SP   -19.965626   -44.138683
104435              sao paulo           SP   -23.427721   -46.548094

       Seller_lat Seller_lng
0      -20.585751 -47.863693
1      -20.585751 -47.863693
2      -23.246681 -45.886909
3      -20.940578 -45.827237
4      -20.940578 -45.827237
...           ...        ...
104431 -23.640564 -46.494432
104432 -22.935263 -43.187264
104433 -19.943004 -44.113624
104434 -23.715050 -46.537268
104435 -23.716916 -46.694693

[104436 rows x 24 columns]>

In [133]:
temp["Distance"] = ((temp["Customer_lat"] - temp["Seller_lat"])**2 + (temp["Customer_lng"] - temp["Seller_lng"])**2) **(1/2)

In [134]:
temp["Distance"]

0          3.167057
1          3.167057
2          1.498281
3         10.340494
4          8.060251
            ...
104431     7.461955
104432     0.227064
104433     1.574384
104434     4.450999
104435     0.324230
Name: Distance, Length: 104436, dtype: float64

In [135]:
temp.iloc[1]

Review_id                                 REVIEW_00000
Order_id                                   ORDER_01674
Review_score                                         4
Order_item_id                                        2
Product_id                               PRODUCT_21853
Seller_id                                  SELLER_0286
Price                                            185.0
Freight_value                                    13.63
Customer_id                             CUSTOMER_38995
Order_purchase_timestamp           2019-01-11 15:30:49
Order_delivered_carrier_date       2019-01-12 21:57:22
Order_delivered_customer_date      2019-01-17 18:42:41
Order_estimated_delivery_date               2019-02-02
Payment_value                                   397.26
Product_category_name                   sports_leisure
Customer_unique_id               CUSTOMER_Unique_38397
Customer_city                                   osasco
Customer_state                                      SP
Seller_city                       sao joaquim da barra
Seller_state                                        SP
Customer_lat                                -23.557079
Customer_lng                                -46.767579
Seller_lat                                  -20.585751
Seller_lng                                  -47.863693
Distance                                      3.167057
Name: 1, dtype: object

In [149]:
# temp[temp.Distance==0] # 21개

In [150]:
# temp[temp.Freight_value==0] #384

In [146]:
temp["Distance"].describe()

count    104436.000000
mean          5.549639
std           5.326405
min           0.000000
25%           1.843026
50%           4.096384
75%           7.381872
max          48.219429
Name: Distance, dtype: float64

In [137]:
try:
    if temp["Distance"]==0:
        temp["Pay_distance"] = 

temp["Pay_distance"] = temp["Freight_value"] / temp["Distance"]
#5km 에 3000원이면 1km 600원인건지

In [143]:
pay_distance_list = temp.Pay_distance.tolist()

In [145]:
np.mean(np.array(pay_distance_list))

inf

In [ ]:
# 판매자 위도경도 구입자 위도경도 거리차이 운임
# 무게랑 거리 효율성체크해봐야겟다.
# 센터를 늘리거나, 중간 거점
# 배송 비용
# 운임 비용이 비싸서 손해가 발생한 거라면, 
# 배송 거리가 멀어서 운임 비용이 비싸진 거라면, 가까운 지역에 구매를 유도하자