In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
with open("./cu.pkl", "rb") as f:
    cu_df = pickle.load(f)

In [4]:
cu_df.shape

(19550, 4)

In [11]:
cu_df['store_name'].duplicated().sum()

1917

In [13]:
cu_df[cu_df['store_name'].duplicated()].head(3)

,store_name,store_tel,store_address,store_service
67,고양내유점,,"경기도 고양시 덕양구 유산길 22, (내유동)","[hour, delivery, fried, coffee, cash]"
68,내유무지개점,031,"경기도 고양시 덕양구 유산길 46, (내유동) 1층","[hour, delivery, fried, coffee, cash]"
69,내유희망점,0319625273,"경기도 고양시 덕양구 내유길 81, (내유동) 1층 101,102,103호","[hour, delivery, bakery, fried, coffee, cash]"

In [14]:
cu_df[cu_df.store_name == "고양내유점"]

,store_name,store_tel,store_address,store_service
56,고양내유점,,"경기도 고양시 덕양구 유산길 22, (내유동)","[hour, delivery, fried, coffee, cash]"
67,고양내유점,,"경기도 고양시 덕양구 유산길 22, (내유동)","[hour, delivery, fried, coffee, cash]"

In [18]:
unique_cu = cu_df[~cu_df['store_name'].duplicated()].copy()

In [19]:
unique_cu.shape

(17633, 4)

In [20]:
unique_cu.isnull().sum()

store_name       0
store_tel        0
store_address    0
store_service    0
dtype: int64

In [24]:
unique_cu.shape

(17633, 4)

In [27]:
unique_cu['sido'] = unique_cu.store_address.apply(lambda  x : x.split()[0])

In [29]:
unique_cu.value_counts('sido')

sido
경기도        4770
서울특별시      2859
경상남도       1208
부산광역시      1000
충청남도        922
인천광역시       915
경상북도        905
강원도         824
충청북도        683
제주특별자치도     618
대구광역시       606
전라북도        574
전라남도        515
대전광역시       427
광주광역시       403
울산광역시       370
경남            5
전북특별자치도       4
충북            2
전남            2
서울시           2
서울            2
대구시           2
경북            2
아산시           1
울산시           1
인천            1
경기            1
인천광영시         1
부산시           1
부산광영시         1
부산            1
대구            1
충천남도          1
충청남남          1
광주            1
포천시           1
Name: count, dtype: int64

In [32]:
tmp = set()

In [34]:
tmp.add('a')

In [36]:
tmp.add('a')

In [37]:
tmp

{'a'}

In [38]:
service_set = set()
unique_cu['store_service'].apply(lambda x :  [service_set.add(y) for y in x])

0              [None, None, None, None, None]
1                          [None, None, None]
2                    [None, None, None, None]
3                    [None, None, None, None]
4                    [None, None, None, None]
                         ...
19545                [None, None, None, None]
19546    [None, None, None, None, None, None]
19547    [None, None, None, None, None, None]
19548          [None, None, None, None, None]
19549                      [None, None, None]
Name: store_service, Length: 17633, dtype: object

In [47]:
for service in service_set:
    unique_cu[service] = unique_cu.store_service.apply(lambda x : True if service in x else False)

fried
toto
mix
hour
pos
coffee
lotto
bakery
cash
battery
delivery

In [50]:
unique_cu.delivery.sum()

14533

In [52]:
unique_cu.value_counts('hour', normalize=True)

hour
True     0.832757
False    0.167243
Name: proportion, dtype: float64

In [69]:
unique_cu[ (unique_cu.delivery) & (unique_cu.store_address.str.find("효령로") > -1) \
& (unique_cu.store_address.str.find("서울") > -1)]

,store_name,store_tel,store_address,store_service,sido,bakery,fried,toto,mix,hour,pos,coffee,lotto,cash,battery,delivery
7254,방배제일점,025888232,"서울특별시 서초구 효령로23길 90, (방배동)","[hour, delivery, coffee]",서울특별시,False,False,False,False,True,False,True,False,False,False,True
7260,서울백석대점,025259811,서울특별시 서초구 효령로28길 3 RNC빌딩,"[hour, delivery, fried, coffee, cash, battery]",서울특별시,False,True,False,False,True,False,True,False,True,True,True
7264,서초그랑자이점,,"서울특별시 서초구 효령로403 서초그랑자이 1층 상가동 101, 110호","[hour, delivery, coffee]",서울특별시,False,False,False,False,True,False,True,False,False,False,True
7269,남부터미널역점,025975601,"서울특별시 서초구 효령로 279, (서초동)","[hour, delivery, coffee, cash]",서울특별시,False,False,False,False,True,False,True,False,True,False,True
7313,아크로텔강남역점,0234871577,서울특별시 서초구 효령로77길 34 아크로텔강남역 (서초동) 아크로텔강남역,"[hour, delivery, coffee]",서울특별시,False,False,False,False,True,False,True,False,False,False,True

In [72]:
unique_cu.drop(['store_service'], axis=1, inplace=True)

In [73]:
unique_cu

,store_name,store_tel,store_address,sido,bakery,fried,toto,mix,hour,pos,coffee,lotto,cash,battery,delivery
0,가평군청점,0315817570,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",경기도,False,True,False,False,True,False,True,False,True,False,True
1,가평레일파크점,,경기도 가평군 가평읍 연인길 2 (읍내리),경기도,False,False,False,False,False,True,True,False,False,False,True
2,가평본점,,경기도 가평군 가화로 110-1 (가평읍) 1층,경기도,False,False,False,False,True,False,True,False,True,False,True
3,가평센타점,0315817470,경기도 가평군 가평읍 오리나무길 9 1층,경기도,False,False,False,False,True,False,True,False,True,False,True
4,가평오렌지점,,"경기도 가평군 가평읍 가화로 174, (읍내리)",경기도,False,False,False,False,True,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19545,울산학산옥교점,,울산광역시 중구 옥교3길 76 (학산동),울산광역시,False,True,False,False,True,False,True,False,False,False,True
19546,울산학성점,0522971245,"울산광역시 중구 학성4길 65, (학성동)",울산광역시,True,True,False,False,True,False,True,False,True,False,True
19547,울산학성중앙점,,울산광역시 중구 학성공원12길 20 (학성동),울산광역시,True,True,False,False,True,False,True,False,True,False,True
19548,학성동UBC점,0522431329,울산광역시 중구 구역전1길 37-9,울산광역시,False,False,False,False,True,False,True,False,True,True,True
19549,학성드림점,,울산광역시 중구 구교로 83,울산광역시,False,False,False,False,True,False,True,False,False,False,True