# 1.문제 
- 출발 공항에 대해서 도착 공항별로 평균 출발 지연시간 평균 도착지연시간을 구해서 DataFrame을 생성

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
hflight = pd.read_csv('./hflight.csv')

In [9]:
hflight_group = hflight.groupby(["Origin","Dest"])[["ArrDelay","DepDelay"]].mean().reset_index()

In [ ]:
# CREATE TABLE hflight_group
# SELECT Origin, Dest,AVG(ArrDelay),AVG(DepDelay)
# FROM hflight
# GROUP BY Origin,Dest

# 문제 2
- 목적지 공항에 대해 연착 건수를 구하고, 연착 건수가 2000회 이상인 공항에 대한 데이터만 추출
- col -> Dest :목적지 공항 ArrDelay (연착은 5분이상)

In [14]:
hflight["ArrDelay_is"] = hflight["ArrDelay"].apply(lambda x : 1 if x>=5  else 0)

In [19]:
hflight_delay_group = hflight.groupby(["Dest"])["ArrDelay_is"].sum().reset_index()

In [21]:
hflight_delay_group_2000 = hflight_delay_group[hflight_delay_group.ArrDelay_is>=2000]

In [88]:
hflight_delay_group_2000

   Dest  ArrDelay_is
6   ATL         2657
28  DAL         3360
31  DEN         2315
59  LAX         2641
78  MSY         2361
84  ORD         2220

In [ ]:
# SELECT B.Dest, B.ad
# FROM
# (SELECT A.DEST, SUM(A.ArrDelay_is) ad
# From
# (SELECT Dest,CASE WHEN ArrDelay >=5 THEN 1
# ELSE 0 END ArrDelay_is	
# FROM hflight) A
# GROUP BY A.DEST) B
# WHERE B.ad>=2000

# 문제 3
-  위의 결과를 바탕으로 목적지 공항 별 결항 횟수, 회항 횟수
- 운항 횟수를 구하시오 (Cancelled, Diverted, Air)
- 운항 횟수는 결항과 회항을 제외한 것

In [28]:
hflight_count_group = hflight.groupby(["Dest"])[["Cancelled","Diverted"]].sum().reset_index()

In [46]:
hflight_count_group_only = hflight.groupby(["Dest"])["ArrDelay_is"].count().reset_index()

In [48]:
hflight_count_group = pd.merge(hflight_count_group,hflight_count_group_only, on="Dest", how="inner")

In [50]:
hflight_count_group["real"] = hflight_count_group["ArrDelay_is"] - hflight_count_group["Cancelled"] - hflight_count_group["Diverted"]

In [53]:
hflight_count_group_ans = hflight_count_group[["Dest","real"]]

In [55]:
# hflight_count_group_ans

In [89]:
hflight.iloc[0]

Year                   2011
Month                     1
DayofMonth                1
DayOfWeek                 6
DepTime              1400.0
ArrTime              1500.0
UniqueCarrier            AA
FlightNum               428
TailNum              N576AA
ActualElapsedTime      60.0
AirTime                40.0
ArrDelay              -10.0
DepDelay                0.0
Origin                  IAH
Dest                    DFW
Distance                224
TaxiIn                  7.0
TaxiOut                13.0
Cancelled                 0
CancellationCode        NaN
Diverted                  0
ArrDelay_is               0
Name: 0, dtype: object

In [ ]:
# sudo apt install mysql-server
# sudo service mysql start
# 해보고
# sudo service mysql status

In [69]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, BigInteger, DateTime, Date,Float

In [70]:
import sqlalchemy
from urllib import parse
user = 'id'
password = 'pw'
host='ip'
port = port
database = 'kpi'
password = parse.quote_plus(password)
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [71]:
metadata = MetaData()

In [81]:
# hflight.columns

In [82]:
# hflight.iloc[0]

In [83]:
# hflight.info()

In [78]:
Table("hflight", metadata, 
      Column('Year', Integer),
      Column("Month", Integer),
      Column("DayofMonth", Integer),
      Column("DayOfWeek", Integer),
      Column("DepTime", Float),
      Column("ArrTime", Float),
      Column("UniqueCarrier", String(100)),
      Column("FlightNum", Integer),
      Column("TailNum", String(100)),
      Column("ActualElapsedTime", Float),
      Column("AirTime", Float),
      Column("ArrDelay", Float),
      Column("DepDelay", Float),
      Column("Origin", String(100)),
      Column("Dest", String(100)),
      Column("Distance", Integer),
      Column("TaxiIn", Float),
      Column("TaxiOut", Float),
      Column("Cancelled", Integer),
      Column("CancellationCode", String(100)),
      Column("Diverted", Integer),
      Column("ArrDelay_is", Integer)
     )

Table('hflight', MetaData(), Column('Year', Integer(), table=<hflight>), Column('Month', Integer(), table=<hflight>), Column('DayofMonth', Integer(), table=<hflight>), Column('DayOfWeek', Integer(), table=<hflight>), Column('DepTime', Float(), table=<hflight>), Column('ArrTime', Float(), table=<hflight>), Column('UniqueCarrier', String(length=100), table=<hflight>), Column('FlightNum', Integer(), table=<hflight>), Column('TailNum', String(length=100), table=<hflight>), Column('ActualElapsedTime', Float(), table=<hflight>), Column('AirTime', Float(), table=<hflight>), Column('ArrDelay', Float(), table=<hflight>), Column('DepDelay', Float(), table=<hflight>), Column('Origin', String(length=100), table=<hflight>), Column('Dest', String(length=100), table=<hflight>), Column('Distance', Integer(), table=<hflight>), Column('TaxiIn', Float(), table=<hflight>), Column('TaxiOut', Float(), table=<hflight>), Column('Cancelled', Integer(), table=<hflight>), Column('CancellationCode', String(length=100), table=<hflight>), Column('Diverted', Integer(), table=<hflight>), Column('ArrDelay_is', Integer(), table=<hflight>), schema=None)

In [79]:
metadata.create_all(engine)
customers.to_sql("hflight", if_exists='append', con=engine, index=False)

227496

In [ ]:
# SELECT A.Dest , A.a3-A.a2-A.a1
# FROM 
# (SELECT Dest, SUM(Cancelled) a1, SUM(Diverted) a2, COUNT(Cancelled) a3
# FROM hflight
# GROUP BY Dest) A