In [1]:
ls

'2024.04.02 (1).ipynb'     20240403_2.ipynb   stock/
 2024.04.02-1.ipynb        Untitled.ipynb     stock1/
 2024.04.02-1_user.ipynb   a/                 stocks/
 2024.04.02.ipynb          b.txt*             stocks1/
 2024.04.02_user.ipynb     c/                 study/
 2024.04.04.ipynb          lyric/             study.ipynb
 20240401.ipynb            lyrics/            test.ipynb
 20240401.py               nohup.out          삼성전자.csv
 20240402.ipynb            project/           삼성전자1.csv
 20240402_teacher.ipynb    requirements.txt
 20240403_1.ipynb          result.csv

In [2]:
cd ~

/home/jotaesik

/home/jotaesik/.local/lib/python3.10/site-packages/IPython/core/magics/osm.py:393: UserWarning: This is now an optional IPython functionality, using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})
/home/jotaesik/.local/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
ls

a.txt                                     male
data/                                     nohup.out
google-chrome-stable_current_amd64.deb    workspace/
google-chrome-stable_current_amd64.deb.1  이름_생년_성별_10000.zip
google-chrome-stable_current_amd64.deb.2

In [4]:
cd data

/home/jotaesik/data

In [16]:
ls > a.txt

In [17]:
cat a.txt

a.txt
female/
male/

In [5]:
pwd

'/home/jotaesik/data'

In [19]:
df=pd.DataFrame()
df.columns = ['female', 'male']
print(df)

ValueError: Length mismatch: Expected axis has 0 elements, new values have 2 elements

In [68]:
import os
import pandas as pd
import shutil
# f = open("./file.txt", "w", encoding="utf-8")
if not os.path.isdir("./male"):
    os.mkdir("./male")
if not os.path.isdir("./female"):
    os.mkdir("./female")
# dict1={} #데이터프레임으로 바꿀거
# 이름 생년월일 성별 값
list_name=[]
list_birthday=[]
list_gender=[]
list_value=[]
i=0;
for roots, dirs, files in os.walk("/home/jotaesik/data"):
    for file in files:
        temp_split=file.split("_") #파일명자르기
        # ['강주헌', '19601129', '1xxxxxx.txt']
        list_name.append(temp_split[0])
        list_birthday.append(temp_split[1])
        # 값불러오기
        f=open(f"{roots}/{file}", "r")
        a=f.readline().replace(",","")
        f.close()
        list_value.append(a)
        if int(temp_split[2][0])%2==1:
             shutil.move(f"{roots}/{file}", "/home/jotaesik/data/male")
             list_gender.append("M") 
        else:
             shutil.move(f"{roots}/{file}", "/home/jotaesik/data/female")
             list_gender.append("F")
        # try:
        #     if int(temp_split[2][0])%2==1:
        #         list_gender.append("M") 
        #         shutil.move(f"{roots}/{file}", "/home/jotaesik/data/male")
        #     else:
        #         list_gender.append("F")
        #         shutil.move(f"{roots}/{file}", "/home/jotaesik/data/female")        
        # except:
        #     print("")
    
# print(list_name)
# print(list_birthday)
# print(list_gender)
# print(list_value)
dict={"이름" : list_name , "생년월일" : list_birthday, "성별" : list_gender, "값" : list_value}
# print(len(list_name))
# print(len(list_birthday))
# print(len(list_value))
# print(len(list_gender))
# print(dict)

Error: Destination path '/home/jotaesik/data/male/강주헌_19601129_1xxxxxx.txt' already exists

20000

In [69]:
df=pd.DataFrame(dict)
print(df)

       이름      생년월일 성별         값
0     강주헌  19601129  M  23472543
1     배신화  19691226  F      7682
2     문현설  19600509  M      1467
3     강채빈  19900809  M     25709
4     강민상  19921215  M     79182
...   ...       ... ..       ...
9995  이보민  19660126  M    345871
9996  배원일  19800806  M      7490
9997  고은한  19731011  F  91745789
9998  정나현  19600725  F      4996
9999  허재환  19940306  M   9618958

[10000 rows x 4 columns]

이름      0
생년월일    0
성별      0
값       0
dtype: int64

In [71]:
df.tail(10)

       이름      생년월일 성별         값
9990  정채민  19681106  F      8865
9991  임지은  19980521  F      8899
9992  황세완  19620527  M    715468
9993  안해연  19900303  M  41289635
9994  임범세  19981103  F      8598
9995  이보민  19660126  M    345871
9996  배원일  19800806  M      7490
9997  고은한  19731011  F  91745789
9998  정나현  19600725  F      4996
9999  허재환  19940306  M   9618958

In [33]:
list1

[]

In [ ]:
import pickle 
# binary save , load 
# with open("./kbo.pkl", "wb") as f:
#     pickle.dump(playid, f)


# import pickle
# with open("./kbo.pkl", "rb") as f:
#     abc = pickle.load(f)

In [20]:
# # with open("./male/정윤규_19970820_1xxxxxx.txt", "rb") as f:
# with open("./male/정윤규_19970820_1xxxxxx.txt", "r") as f:
#     test=f.readline().strip()
# print(test)
f=open("./male/양조은_19660410_3xxxxxx.txt", "r")
# 양조은_1966041+0_3xxxxxx.txt
a=f.readline()
a=a.replace(",","")
print(a)
# type(f.read())
# f.readline().replace(",","")
# print(int(f.readline().replace(",","")))

577565